@using App.Services.Common
@using App.Web.Framework.Models.DataTables
@using Satyanam.Nop.Plugin.SatyanamCRM.Models.Contacts
@inject IGenericAttributeService GenericAttributeService
@inject IWorkContext WorkContext

@model ContactsSearchModel
@{
    Layout = "_AdminLayout";
}
@{
    ViewBag.PageTitle = T("Plugin.SatyanamCRM.Contacts").Text;
    NopHtml.SetActiveMenuItemSystemName("Contacts");

    const string hideSearchBlockAttributeName = "contactsListPage.HideSearchBlock";
    var hideSearchBlock = await GenericAttributeService.GetAttributeAsync<bool>(await WorkContext.GetCurrentCustomerAsync(), hideSearchBlockAttributeName);
}

<div class="content-header clearfix">
    <h1 class="float-left">
        @T("Plugin.SatyanamCRM.Contacts")
    </h1>
    <div class="float-right">
        @if (await permissionService.AuthorizeAsync(SatyanamPermissionProvider.ManageContacts, PermissionAction.Add))
        {
            <a asp-action="Create" class="btn btn-primary">
                <i class="fas fa-plus-square"></i>
                @T("Plugin.SatyanamCRM.Contacts.AddNew")
            </a>
        }
        @if (await permissionService.AuthorizeAsync(SatyanamPermissionProvider.ManageContacts, PermissionAction.Delete))
        {
            <button type="button" id="delete-selected" class="btn btn-danger">
                <i class="far fa-trash-alt"></i>
                @T("Admin.Common.Delete.Selected")
            </button>
            <nop-action-confirmation asp-button-id="delete-selected" />
        }
    </div>
</div>

<section class="content">
    <div class="container-fluid">
        <div class="form-horizontal">
            <div class="cards-group">
                <div class="card card-default card-search">
                    <div class="card-body">
                        <div class="row search-row @(!hideSearchBlock ? "opened" : "")" data-hideAttribute="@hideSearchBlockAttributeName">
                            <div class="search-text">@T("Admin.Common.Search")</div>
                            <div class="icon-search"><i class="fas fa-search" aria-hidden="true"></i></div>
                            <div class="icon-collapse"><i class="far fa-angle-@(!hideSearchBlock ? "up" : "down")" aria-hidden="true"></i></div>
                        </div>
                        <div class="search-body @(hideSearchBlock ? "closed" : "")">
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="form-group row">
                                        <div class="col-md-4">
                                            <nop-label asp-for="SearchName" />
                                        </div>
                                        <div class="col-md-8">
                                            <nop-editor asp-for="SearchName" />
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group row">
                                        <div class="col-md-4">
                                            <nop-label asp-for="SearchCompanytName" />
                                        </div>
                                        <div class="col-md-8">
                                            <nop-editor asp-for="SearchCompanytName" />
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group row">
                                        <div class="col-md-4">
                                            <nop-label asp-for="SearchWebsiteUrl" />
                                        </div>
                                        <div class="col-md-8">
                                            <nop-editor asp-for="SearchWebsiteUrl" />
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="text-center col-12">
                                <button type="button" id="search-contacts" class="btn btn-primary btn-search">
                                    <i class="fas fa-search"></i>
                                    @T("Admin.Common.Search")
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="card card-default">
                <div class="card-body">
                    @{
                        var gridModel = new DataTablesModel
                        {
                            Name = "contacts-grid",
                            UrlRead = new DataUrl("List", "Contacts", null),
                            SearchButtonId = "search-contacts",
                            Length = Model.PageSize,
                            LengthMenu = Model.AvailablePageSizes,
                            Filters = new List<FilterParameter>
                            {
                                new FilterParameter(nameof(Model.SearchName)),
                                new FilterParameter(nameof(Model.SearchCompanytName)),
                                new FilterParameter(nameof(Model.SearchWebsiteUrl))
                            },
                        };
                        gridModel.ColumnCollection.Add(new ColumnProperty(nameof(ContactsModel.Id))
                        {
                            IsMasterCheckBox = true,
                            Render = new RenderCheckBox("checkbox_contacts"),
                            ClassName = NopColumnClassDefaults.CenterAll,
                            Width = "50"
                        });
                        gridModel.ColumnCollection.Add(new ColumnProperty(nameof(ContactsModel.Name))
                        {
                            Title = T("Plugin.SatyanamCRM.Contacts.Fields.Name").Text,
                            Width = "100"
                        });
                        gridModel.ColumnCollection.Add(new ColumnProperty(nameof(ContactsModel.CompanyName))
                        {
                            Title = T("Plugin.SatyanamCRM.Contacts.Fields.CompanyName").Text,
                            Width = "100"
                        });
                        gridModel.ColumnCollection.Add(new ColumnProperty(nameof(ContactsModel.WebsiteUrl))
                        {
                            Title = T("Plugin.SatyanamCRM.Contacts.Fields.WebsiteUrl").Text,
                            Width = "100"
                        });
                        gridModel.ColumnCollection.Add(new ColumnProperty(nameof(ContactsModel.CreatedOnUtc))
                        {
                            Title = T("Plugin.SatyanamCRM.Contacts.Fields.CreatedOnUtc").Text,
                            Width = "100",
                            Render = new RenderDate()
                        });
                        @if (await permissionService.AuthorizeAsync(SatyanamPermissionProvider.ManageContacts, PermissionAction.Edit))
                        {
                            gridModel.ColumnCollection.Add(new ColumnProperty(nameof(ContactsModel.Id))
                            {
                                Title = T("Plugin.SatyanamCRM.Contacts.Edit").Text,
                                Width = "100",
                                ClassName = NopColumnClassDefaults.Button,
                                Render = new RenderButtonEdit(new DataUrl("Edit"))
                            });
                        }
                    }
                    @await Html.PartialAsync("Table", gridModel)
                </div>
            </div>
        </div>
    </div>
</section>

<script>
    $('#delete-selected-action-confirmation-submit-button').bind('click', function () {
        var postData = {
            selectedIds: selectedIds
        };
        addAntiForgeryToken(postData);
        $.ajax({
            cache: false,
            type: "POST",
            url: "@(Url.Action("DeleteSelected", "Contacts"))",
            data: postData,
            error: function (jqXHR, textStatus, errorThrown) {
                showAlert('deleteSelectedFailed', errorThrown);
            },
            complete: function (jqXHR, textStatus) {
                if (jqXHR.status === 204) {
                    showAlert('nothingSelectedAlert', '@T("Admin.Common.Alert.NothingSelected")');
                    return;
                }
                updateTable('#contacts-grid');
            }
        });
        $('#delete-selected-action-confirmation').modal('toggle');
        return false;
    });
</script>

<nop-alert asp-alert-id="deleteSelectedFailed" />
<nop-alert asp-alert-id="nothingSelectedAlert" />
