@model EmployeeAttendanceSearchModel
@{
    //page title
    ViewBag.PageTitle = T("Admin.Configuration.EmployeeAttendance").Text;
    //active menu item (system name)
    NopHtml.SetActiveMenuItemSystemName("EmployeeAttendance");

    const string hideSearchBlockAttributeName = "EmployeeAttendance.HideSearchBlock";
    var hideSearchBlock = await genericAttributeService.GetAttributeAsync<bool>(await workContext.GetCurrentCustomerAsync(), hideSearchBlockAttributeName);
}
<div class="content-header clearfix">
    <h1 class="float-left">
        @T("Admin.Configuration.EmployeeAttendance")
    </h1>
    <div class="float-right">
        @if (await permissionService.AuthorizeAsync(StandardPermissionProvider.ManageEmployeeAttendance, PermissionAction.Add))
        {
            <a asp-action="Create" class="btn btn-primary">
                <i class="fas fa-plus-square"></i>
                @T("Admin.Common.AddNew")
            </a>
        }
        @if (await permissionService.AuthorizeAsync(StandardPermissionProvider.ManageEmployeeAttendance, PermissionAction.Delete))
        {
            <button type="button" id="delete-selected" class="btn btn-danger">
                <i class="far fa-trash-alt"></i>
                @T("Admin.Common.Delete.Selected")
            </button>
            <nop-action-confirmation asp-button-id="delete-selected" />
        }
    </div>

</div>
<section class="content">
    <div class="container-fluid">
        <div class="form-horizontal">
            <div class="cards-group">
                <div class="card card-default card-search">
                    <div class="card-body">
                        <div class="row search-row @(!hideSearchBlock ? "opened" : "")" data-hideAttribute="@hideSearchBlockAttributeName">
                            <div class="search-text">@T("Admin.Common.Search")</div>
                            <div class="icon-search"><i class="fas fa-search" aria-hidden="true"></i></div>
                            <div class="icon-collapse"><i class="far fa-angle-@(!hideSearchBlock ? "up" : "down")" aria-hidden="true"></i></div>
                        </div>

                        <div class="search-body @(hideSearchBlock ? "closed" : "")">
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="form-group row">
                                        <div class="col-md-4">
                                            <nop-label asp-for="EmployeeName" />
                                        </div>
                                        <div class="col-md-8">
                                            <nop-editor asp-for="EmployeeName" />
                                        </div>
                                    </div>
                                </div>

                                <div class="col-md-6">
                                    <div class="form-group row">
                                        <div class="col-md-4">
                                            <nop-label asp-for="From" />
                                        </div>
                                        <div class="col-md-8">
                                            <nop-editor asp-for="From" />
                                        </div>
                                    </div>
                                </div>

                            </div>
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="form-group row">
                                        <div class="col-md-4">
                                            <nop-label asp-for="StatusId" />
                                        </div>
                                        <div class="col-md-8">
                                            <nop-select asp-for="StatusId" asp-items="Model.AvailableStatus" />
                                        </div>
                                    </div>
                                </div>

                                <div class="col-md-6">
                                    <div class="form-group row">
                                        <div class="col-md-4">
                                            <nop-label asp-for="To" />
                                        </div>
                                        <div class="col-md-8">
                                            <nop-editor asp-for="To" />
                                        </div>
                                    </div>
                                </div>

                            </div>
                            <div class="row">
                                <div class="text-center col-12">
                                    <button type="button" id="search-brands" class="btn btn-primary
                                         btn-search">
                                        <i class="fas fa-search"></i>
                                        @T("Admin.Common.Search")
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="card card-default">
                    <div class="card-body">
                        @{
                            var gridModel = new DataTablesModel
                            {
                                Name = "employeeAttendance-grid",
                                UrlRead = new DataUrl("List", "EmployeeAttendance", null),
                                SearchButtonId = "search-brands",
                                Length = Model.PageSize,
                                LengthMenu = Model.AvailablePageSizes,
                                Filters = new List<FilterParameter>
                                {
                                    new FilterParameter(nameof(Model.EmployeeName)),
                                    new FilterParameter(nameof(Model.From)),
                                    new FilterParameter(nameof(Model.To)),
                                    new FilterParameter(nameof(Model.StatusId))
                                },
                            };

                            gridModel.ColumnCollection.Add(new ColumnProperty(nameof(EmployeeAttendanceModel.Id))
                            {
                                IsMasterCheckBox = true,
                                Render = new RenderCheckBox("checkbox_employee_attendance"),
                                ClassName = NopColumnClassDefaults.CenterAll,
                                Width = "30"
                            });
                            gridModel.ColumnCollection.Add(new ColumnProperty(nameof(EmployeeAttendanceModel.EmployeeName))
                            {
                                Title = T("Admin.EmployeeAttendance.Fields.EmployeeName").Text
                            });
                            gridModel.ColumnCollection.Add(new ColumnProperty(nameof(EmployeeAttendanceModel.CheckIn))
                            {
                                Title = T("Admin.EmployeeAttendance.Fields.CheckIn").Text,
                                Render = new RenderDate()
                            });
                            gridModel.ColumnCollection.Add(new ColumnProperty(nameof(EmployeeAttendanceModel.CheckOut))
                            {
                                Title = T("Admin.EmployeeAttendance.Fields.CheckOut").Text,
                                Render = new RenderDate()
                            });
                            gridModel.ColumnCollection.Add(new ColumnProperty(nameof(EmployeeAttendanceModel.Times))
                            {
                                Title = T("Admin.EmployeeAttendance.Fields.SpentTime").Text
                            });
                            gridModel.ColumnCollection.Add(new ColumnProperty(nameof(EmployeeAttendanceModel.StatusName))
                            {
                                Title = T("Admin.EmployeeAttendance.Fields.StatusName").Text
                            });
                            gridModel.ColumnCollection.Add(new ColumnProperty(nameof(EmployeeAttendanceModel.CreateOn))
                            {
                                Title = T("Admin.EmployeeAttendance.Fields.CreateOn").Text,
                                Render = new RenderDate()
                            });
                            gridModel.ColumnCollection.Add(new ColumnProperty(nameof(EmployeeAttendanceModel.UpdateOn))
                            {
                                Title = T("Admin.EmployeeAttendance.Fields.UpdateOn").Text,
                                Render = new RenderDate()
                            });
                            @if (await permissionService.AuthorizeAsync(StandardPermissionProvider.ManageEmployeeAttendance, PermissionAction.Edit))
                            {
                                gridModel.ColumnCollection.Add(new ColumnProperty(nameof(EmployeeAttendanceModel.Id))
                                {
                                    Title = T("Admin.Common.Edit").Text,
                                    Width = "80",
                                    ClassName = NopColumnClassDefaults.Button,
                                    Render = new RenderButtonEdit(new DataUrl("Edit"))
                                });
                            }
                        }
                        @await Html.PartialAsync("Table", gridModel)
                    </div>
                </div>
            </div>
        </div>
    </div>
    <script>
        $('#delete-selected-action-confirmation-submit-button').bind('click', function () {
            var postData = {
                selectedIds: selectedIds
            };
            addAntiForgeryToken(postData);
            $.ajax({
                cache: false,
                type: "POST",
                url: "@(Url.Action("DeleteSelected", "EmployeeAttendance"))",
                data: postData,
                error: function (jqXHR, textStatus, errorThrown) {
                    showAlert('deleteSelectedFailed', errorThrown);
                },
                complete: function (jqXHR, textStatus) {
                    if (jqXHR.status === 204) {
                        showAlert('nothingSelectedAlert', '@T("Admin.Common.Alert.NothingSelected")');
                        return;
                    }
                    updateTable('#employeeAttendance-grid');

                }
            });
            $('#delete-selected-action-confirmation').modal('toggle');
            return false;
        });
    </script>
    <nop-alert asp-alert-id="deleteSelectedFailed" />
    <nop-alert asp-alert-id="nothingSelectedAlert" />
</section>