
 @using App.Core
@using App.Web.Models.Extensions.LeaveManagement;
@model LeaveManagementSearchModel
@inject App.Core.IWebHelper webHelper
@{
    Layout = "_ColumnsTwo";

    //title
    NopHtml.AddTitleParts(T("PageTitle.Leave").Text);
    //page class
    NopHtml.AppendPageCssClassParts("html-account-page");
    NopHtml.AppendPageCssClassParts("html-career-result-page");
}

@section left
{
    @await Component.InvokeAsync(typeof(CustomerNavigationViewComponent), new { selectedTabId = CustomerNavigationEnum.LeaveManagement })
}




<link rel="stylesheet" href="@Url.Content("~/Themes/DefaultClean/Content/css/leavemanagement.css")" />
<link rel="stylesheet" href="https://jqwidgets.com/public/jqwidgets/styles/jqx.base.css" type="text/css" />
<script type="text/javascript" src="https://jqwidgets.com/public/jqwidgets/jqx-all.js"></script>

<link rel="stylesheet" href="https://kendo.cdn.telerik.com/themes/8.2.1/default/default-main.css" />
<!-- jQuery -->
@* <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script> *@

<!-- Kendo UI JS -->
<script src="https://kendo.cdn.telerik.com/2023.2.829/js/kendo.all.min.js"></script>

<link rel="stylesheet" href="https://code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css" />
<script src="https://code.jquery.com/ui/1.12.1/jquery-ui.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.29.1/moment.min.js"></script>




<div class="page registration-page">
    <div class="page-title">
        <h1>@T("Account.MyAccount") - @T("Account.LeaveManagement")</h1>
        @if (await permissionService.AuthorizeAsync(StandardPermissionProvider.PublicStoreLeaveManagement, PermissionAction.Add))
        {
             <button type="button" class="take-leave-btn button-1 save-customer-info-button" onclick="openCreateLeavePopup()">Request Leave</button>
        }
    </div>

    <div class="page-body">


        <div id="popupDialog" class="custom-modal" style="display:none;">
            <div class="custom-modal-dialog">
                <div class="custom-modal-content">
                    <div class="custom-modal-header">
                        <h3 class="custom-modal-title">Send Leave Request</h3>
                        <span class="custom-modal-close" onclick="closeModal()">&times;</span>
                    </div>
                    <div class="custom-modal-body">
                        <!-- Form content will be dynamically inserted here -->
                        <script>
                            $(document).ready(function () {

                                $(document).on('input', '#NoOfDays', function () {
                                    // Allows only numbers and a single decimal point
                                    this.value = this.value.replace(/[^0-9.]/g, '').replace(/(\..*?)\..*/g, '$1');
                                });


                                $(document).on('change', '#FromDate, #ToDate', function () {

                                    var fromDate = $("#FromDate").val();
                                    var toDate = $("#ToDate").val();

                                    if (fromDate && toDate) {
                                        fromDate = new Date(fromDate).toISOString().split('T')[0];
                                        toDate = new Date(toDate).toISOString().split('T')[0];

                                        $.ajax({
                                            url: '@Url.Action("CalculateNoOfDays", "LeaveManagement")',
                                            type: 'GET',
                                            data: {
                                                fromDate: fromDate,
                                                toDate: toDate
                                            },
                                            success: function (data) {
                                                // $("#NoOfDays").data("kendoNumericTextBox").val(data);
                                                // $("#NoOfDays").data("kendoNumericTextBox").value(data);
                                                console.log(data,"data")
                                                $("#NoOfDays").val(data);
                                                $("#NoOfDays").trigger("change");
                                            }
                                        });
                                    } else {
                                        $("#NoOfDays").trigger("change");
                                    }
                                    // $("#NoOfDays").val(diffInDays);
                                    // $("#NoOfDays").trigger("change");

                                });

                           

                                $(document).on('click', '#save-leave',function () {
                                    var leaveTypeId = $("#leaveType").val();
                                    var FromDate = $("#FromDate").val();
                                    var ToDate = $("#ToDate").val();
                                    var NoOfDays = $("#NoOfDays").val();
                                    var ReasonForLeave = $("#ReasonForLeave").val();
                                    var selectedEmployeeList = $("#SelectedEmployeeIds").val();
                                    var selectedEmployeeIds = selectedEmployeeList.join(',');


                                    var postData = {
                                        leaveTypeId: leaveTypeId,
                                        from: FromDate,
                                        to: ToDate,
                                        NoOfDays: NoOfDays,
                                        ReasonForLeave: ReasonForLeave,
                                        SelectedEmployeeIds: selectedEmployeeIds
                                    }

                                    addAntiForgeryToken(postData)
                                    $.ajax({
                                        url: '@Url.Action("InsertLeave", "LeaveManagement")',
                                        type: 'POST',
                                        data: postData,
                                        success: function (response) {
                                            if (response.success) {
                                                closeModal();
                                                $("#search-leave-button").trigger('click');
                                                $('.validation-error-message').text("");
                                                location.reload(); // This reloads the page
                                                
                                            }
                                            else {
                                                $('.validation-error-message').text(response.message);
                                            }
                                            
                                            GetLeaveBalance();
                                           
                                        },
                                        error: function (xhr, status, error) {
                                            console.error("Error occurred: " + status + ", " + error);
                                        }
                                    });
                                });
                            });
                        </script>
                    </div>
                </div>
            </div>
        </div>

        <h5 id="last-update-time" style="opacity: 0.7; color: #555; font-weight: bold; text-align: right;">
            Balance Last Updated On: N/A
        </h5>


        <table class="table table-bordered" id="leave-balance-table">
            <thead>
                <tr>
                    <th>Leave Type</th>
                    <th>Leave Taken</th>
                    <th>Balance</th>
                </tr>
            </thead>
            <tbody>
                <!-- Rows will be populated dynamically here -->
            </tbody>
        </table>

        <div class="fieldset">
           
            <div class="form-fields">
                <div class="inputs-row">
                    <div class="inputs">
                        <label asp-for="LeaveTypeId" asp-postfix=":"></label>
                        <nop-select asp-for="LeaveTypeId" class="select1" asp-items="Model.AvailableLeaveTypes" />
                    </div>
                    <div class="inputs">
                        <label asp-for="StatusId" asp-postfix=":"></label>
                        <nop-select asp-for="StatusId" class="select1" asp-items="Model.AvailableStatusId" />
                    </div>
                </div>
                <div class="inputs-row">
                    <div class="inputs">
                        <label asp-for="From" asp-postfix=":"></label>
                        <input asp-for="From" type="date" id="From" class="select2" />
                    </div>
                    <div class="inputs">
                        <label asp-for="To" asp-postfix=":"></label>
                        <input asp-for="To" type="date" id="To" class="select2" />
                    </div>
                </div>
            </div>
        </div>

            <div class="text-center col-12 button1">
                <div class="buttons">
                    <button type="button" id="search-leave-button" name="save-info-button" class="button-1 save-customer-info-button">@T("Search")</button>
                </div>

            </div>
      
    </div>
</div>


<style>
    .title {
        text-align: center;
        margin-bottom: 20px;
        font-size: 18px;
        font-weight: bold;
        color: #333;
    }

    .table {
        width: 100%;
        border-collapse: collapse;
        margin-bottom: 20px;
        font-family: Arial, sans-serif;
        color: #333;
    }

    .table thead th {
            background-color: #e8e8e8;
        padding: 10px;
        font-weight: bold;
        border-bottom: 2px solid #ddd;
        text-align: left;
    }

    .table tbody td {
        padding: 10px;
        border-bottom: 1px solid #ddd;
        text-align: left;
    }

    .table tbody tr:nth-child(even) {
        background-color: #f9f9f9;
    }

    .table tbody tr:hover {
        background-color: #f1f1f1;
    }

</style>

<div id="jqxgrid"></div>



<script>
    $(document).ready(function () {
        $("#From, #To").change(function () {
            var fromDate = new Date($("#From").val());
            var toDate = new Date($("#To").val());

        });
    });
</script>


<style>

    .main {
        display: block;
    }

    .row {
        display: flex;
        flex-wrap: wrap; /* Allow items to wrap */
        justify-content: center; /* Center items */
    }

    .page-title{
        display:flex;
        justify-content:space-between;
    }
    /* .col-sm-4{
            margin-left: 2px;
        } */

    .select1 {
        min-width: 160px;
        height: 40px;
        padding: 6px;
    }
    .button1{
        text-align:center;
    }

  
    .header{
        z-index:0;
    }
    .header-menu{
        z-index:0;
    }
    .btn-search {
        padding: 8px 25px;
        border-radius: 10px;
    }

    .select2 {
        min-width: 5rem;
        height: 40px;
        padding: 6px;
        box-sizing: border-box;
    }
    .table-rep
    {
        overflow-x:auto;
    }
    table {
       
        width: 100%;
       
    }
    #From , #To {
        min-width:5rem;
    }

    .inputs-row .inputs label {
        width: 0px!important; /* Set label width to 0 */
      
    }

    th, td {
        text-align: left;
        padding: 8px;
    }

    tr:nth-child(even) {
        background-color: #f2f2f2
    }

    .center-2 .inputs label {
        width: 100px;
    }

    /* popup */
    /* Modal background */

    .custom-modal-overlay {
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: rgba(0, 0, 0, 0.5); /* Semi-transparent background */
        z-index: 9999; /* Make sure it's behind the popup but in front of other elements */
    }

    .custom-modal {
        position: fixed;
        z-index: 1000;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        background-color: rgba(0, 0, 0, 0.5); /* Background with transparency */
        display: flex;
        align-items: center;
        justify-content: center;
    }

    /* Modal content */
    .custom-modal-dialog {
        background-color: #fff;
        border-radius: 5px;
        width: 40vw;
        min-width:340px;
        max-height: 98%;
        overflow-y: auto;
    }

    .custom-modal-content {
        position: relative;
        padding: 20px 20px 0px 20px;
    }

    .custom-modal-header {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding-bottom: 10px;
        border-bottom: 1px solid #e5e5e5;
    }

    .custom-modal-title {
        margin: 0;
    }

    .custom-modal-close {
        font-size: 1.5rem;
        cursor: pointer;
    }

    .fieldset{
        margin: 8px 0 15px;
    }
    /* Modal body */
    .custom-modal-body {
        margin-top: 10px;
        padding: 10px;
    }

    /* Optional for button styling */
    button {
        padding: 8px 12px;
        border: none;
        color: white;
        cursor: pointer;
    }

    /*    button:hover {
                background-color: #0056b3;
            } */
   

    .registration-page .button-1{
        margin-left:auto;
    }

    #popupDialog {
        z-index: 1000;
    }

    .inputs-popup {
        margin-bottom: 10px;
        width: 100%;
        display: flex;
        flex-direction: column;
      
    }

        .inputs-popup label {
            font-weight: bold;
            margin-bottom: 5px;
            width: 100%;
            text-align: center; /* Center the label text */
        }

    .save-btn-popup {
        min-width: 105px;
        border: 0;
        background-color: #4ab2f1;
        padding: 10px 24px;
        text-align: center;
        font-size: 15px;
        color: #fff;
        text-transform: uppercase;
        margin: 1%;
        margin-top: 5%;
    }

        .save-btn-popup:hover {
            background-color: #248ece;
        }

 

.inputs-row {
    display: flex;
    gap: 20px; /* Add space between fields */
    justify-content: space-between;
}

.inputs {
    flex: 1;
    min-width: 45%; /* Ensure fields stay 2 per row */
    display: flex;
    flex-direction: column;
}

label {
    font-weight: bold;
    margin-bottom: 5px;
}

.select1, .select2 {
    width: 100%;
    height: 40px;
    padding: 6px;
    box-sizing: border-box;
}


</style>



<script>

    $(document).ready(function () {
        GetLeaveBalance();
        $("#search-leave-button").click(function () {
            var leaveTypeId = $("#LeaveTypeId").val();
            var fromDate = $("#From").val();
            var toDate = $("#To").val();
            var statusId = $("#StatusId").val();

        
            $.ajax({
                url: '@Url.Action("SearchLeaveList", "LeaveManagement")',
                type: 'GET',
                data: {
                    leaveTypeId: leaveTypeId,
                    from: fromDate,
                    to: toDate,
                    statusId: statusId,
                },
                success: function (response) {
                    // Create a data source for jqxGrid
                    var source = {
                        localdata: response, // JSON data
                        datatype: "json",
                        datafields: [
                            { name: 'LeaveType', type: 'string' },
                            { name: 'From', type: 'date' },
                            { name: 'To', type: 'date' },
                            { name: 'NoOfDays', type: 'number' },
                            { name: 'ReasonForLeave', type: 'string' },
                            { name: 'Status', type: 'string' }
                        ]
                    };

                    // Initialize jqxGrid
                    $("#jqxgrid").jqxGrid({
                        width: '100%',                       
                        source: new $.jqx.dataAdapter(source),                       
                        autoheight: true,
                        sortable: true,
                     

                        columnsresize: true,
                        columns: [
                            { text: 'Leave Type', dataField: 'LeaveType', width: '20%', minWidth: 100 },
                            { text: 'From', dataField: 'From', width: '15%', cellsformat: 'yyyy-MM-dd', minWidth: 100 },
                            { text: 'To', dataField: 'To', width: '15%', cellsformat: 'yyyy-MM-dd', minWidth: 100 },
                            { text: 'No Of Days', dataField: 'NoOfDays', width: '10%', minWidth: 40 },
                            { text: 'Reason For Leave', dataField: 'ReasonForLeave', width: '30%', minWidth: 150 },
                            { text: 'Status', dataField: 'Status', width: '10%', minWidth: 80 }
                        ],

                        pageable: true,
                        pagerMode: 'advanced',
                       
                        pagesize: 5,
                        pagesizeoptions: ['5', '10', '20', '50', '100']
                    });
                },
                error: function (xhr, status, error) {
                    console.error("Error occurred: " + status + ", " + error);
                }
            });

            GetLeaveBalance();

        });

        $("#search-leave-button").trigger('click');

       
     
    });
    function GetLeaveBalance() {
        $.ajax({
            url: '@Url.Action("LeaveBalance", "LeaveManagement")',
            type: 'GET',
            success: function (response) {
                // Clear the table body
                $('#leave-balance-table tbody').empty();

                // Update Last Updated Balance Time
                $("#last-update-time").text("Balance Last Updated On: " + response.lastUpdateTime);

                // Iterate over the response and append rows to the table
                $.each(response.leaveBalances, function (index, leaveBalance) {
                    var row = `
                        <tr>
                            <td>${leaveBalance.LeaveTypeName}</td>
                            <td>${leaveBalance.TakenLeaves}</td>
                            <td>${leaveBalance.RemainingLeaves}</td>
                        </tr>
                    `;
                    $('#leave-balance-table tbody').append(row);
                });
            },
            error: function (xhr, status, error) {
                console.error("Error occurred: " + status + ", " + error);
            }
        });
    }

    function openCreateLeavePopup() {
        $.ajax({
            url: '/LeaveManagement/LeaveCreate',
            type: 'GET',
            dataType: 'html',
            success: function (data) {
                // Insert content into modal body
                $('#popupDialog .custom-modal-body').html($(data).find('.page-body').html());

                // Show the modal
                $('#popupDialog').fadeIn();
            },
            error: function (xhr, status, error) {
                console.error("Error loading the popup content: ", error);
            }
        });
    }

    // Close modal
    function closeModal() {
        $('#popupDialog').fadeOut();
    }

    function openLeaveFormPopup() {
       
        $.ajax({
            url: '/LeaveManagement/LeaveCreate',
            type: 'GET',
            dataType: 'html',
            success: function (data) {
             

                $('#popupDialog').remove();

   
                $('<div id="popupDialog"></div>').html(data)
                    .dialog({
                        modal: true,
                        width: 700,
                        maxHeight: 650,
                        dialogClass: 'custom-dialog',
                        close: function (event, ui) {
                            if ($(this).data('ui-dialog')) {
                                $(this).dialog('destroy').remove();
                            }
                        }
                    });
              
            },
            error: function (xhr, status, error) {
                console.log("Error: " + error);
            }
        });
      
    }


</script>

<script>
    function openLeaveFormPopup2() {
        $.ajax({
            url: '/LeaveManagement/LeaveBalance',
            type: 'GET',
            success: function (data) {
                $('<div id="popupDialog"></div>').html(data)
                    .dialog({
                        modal: true,
                        width: 700,
                        maxHeight: 650,
                        dialogClass: 'custom-dialog',
                        close: function (event, ui) {
                            if ($(this).data('ui-dialog')) {
                                $(this).dialog('destroy').remove();
                            }
                        }
                    }).dialog('open');
            }
        });
    }
</script>



