@using App.Web.Areas.Admin.Models.CheckListMappings

@model CheckListMappingModel

@{
    Layout = "~/Areas/Admin/Views/Shared/_AdminPopupLayout.cshtml";
}

<form asp-controller="CheckListMapping" asp-action="Edit" method="post"
      asp-route-btnId="@Context.Request.Query["btnId"]"
      asp-route-formId="@Context.Request.Query["formId"]"
      asp-route-taskCategoryId="@Context.Request.Query["taskCategoryId"]">

    <input asp-for="Id" type="hidden" />

    <div class="content-header clearfix">
        <h1 class="float-left">
            @T("Admin.TaskCategories.CheckListMapping.Edit")
        </h1>
        @if (await permissionService.AuthorizeAsync(StandardPermissionProvider.ManageTaskCategoryChecklists, PermissionAction.Edit))
        {
            <div class="float-right">
                <button type="submit" name="save" class="btn btn-primary">
                    <i class="far fa-save"></i>
                    @T("Admin.Common.Save")
                </button>
            </div>
        }
    </div>

    @await Html.PartialAsync("/Areas/Admin/Views/Extension/TaskCategories/_CheckListMapping.cshtml", Model)
</form>

<nop-delete-confirmation asp-model-id="@Model.Id" asp-button-id="checklistmapping-delete" />
