@using App.Web.Areas.Admin.Models.Extension.ProjectTasks
@model ProjectTaskModel

<link href="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/css/select2.min.css" rel="stylesheet" />
<script src="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/js/select2.min.js"></script>

<div class="card-body">
    
    <div class="form-group row">
        <div class="col-sm-3">
            <nop-label asp-for="ProjectId" />
        </div>
        <div class="col-sm-6">
            <nop-select asp-for="ProjectId" asp-items="Model.Projects" asp-required="true" />
            <span asp-validation-for="ProjectId"></span>
        </div>
    </div>

    <div class="form-group row">
        <div class="col-sm-3">
            <nop-label asp-for="ProcessWorkflowId" />
        </div>
        <div class="col-sm-6">
            <nop-select asp-for="ProcessWorkflowId" asp-items="Model.AvailableProcessWorkflows" asp-required="true" />
            <span asp-validation-for="ProcessWorkflowId"></span>
        </div>
    </div>


    <script>
        $(document).ready(function () {
               $('#@Html.IdFor(model => model.ProjectId)').change(function () {
            var projectId = $(this).val();

            if (projectId) {
                $.ajax({
                    url: '/Admin/ProjectTask/GetProcessWorkflowsByProjectId',
                    type: 'GET',
                    data: { projectId: projectId },
                    success: function (data) {
                        var workflowDropdown = $('#@Html.IdFor(model => model.ProcessWorkflowId)');
                        workflowDropdown.empty();
                        if (data && data.length > 0) {
                            $.each(data, function (i, item) {
                                workflowDropdown.append($('<option></option>').val(item.Value).text(item.Text));
                            });
                        }
                        getStatusByProcessWorkflow();
                    },
                    error: function () {
                        alert('Error loading workflows.');
                    }
                });
                 $.ajax({
                    url: '/Admin/ProjectTask/GetTaskCategoryByProjectId',
                    type: 'GET',
                    data: { projectId: projectId },
                    success: function (data) {
                        var taskCategoryDropdown = $('#@Html.IdFor(model => model.TaskCategoryId)');
                        taskCategoryDropdown.empty();
                        if (data && data.length > 0) {
                            $.each(data, function (i, item) {
                                taskCategoryDropdown.append($('<option></option>').val(item.Value).text(item.Text));
                            });
                        }
                    },
                    error: function () {
                        alert('Error loading workflows.');
                    }
                });
            }
        });

            var processWorkflowSelector = $('#@Html.IdFor(model => model.ProcessWorkflowId)');
            var statusSelector = $('#statusDropdown');
            processWorkflowSelector.change(function () {
            getStatusByProcessWorkflow()
            });
         function getStatusByProcessWorkflow() {
            var processWorkflowId = processWorkflowSelector.val();
            var currentStatusId = statusSelector.val();
            statusSelector.empty();
            if (processWorkflowId) {
                $.ajax({
                    url: '/Admin/ProjectTask/GetStatusesByProcessWorkflow',
                    type: 'GET',
                    data: {
                        processWorkflowId: processWorkflowId
                    },
                    success: function (data) {
                        statusSelector.empty();
                        console.log(data);
                        if (data && data.length > 0) {
                            $.each(data, function (index, item) {
                                statusSelector.append($('<option>').val(item.Value).text(item.Text));
                            });
                        } else {
                            statusSelector.append($('<option>').val('').text('No statuses available'));
                        }
                    },
                    error: function () {
                        alert('Failed to load statuses.');
                    }
                });
            }
        }
        });
    </script>

      <div class="form-group row">
        <div class="col-sm-3">
            <nop-label asp-for="TaskCategoryId" />
        </div>
        <div class="col-sm-6">
            <nop-select asp-for="TaskCategoryId" asp-items="Model.AvailableTaskCategories" asp-required="true" />
            <span asp-validation-for="TaskCategoryId"></span>
        </div>
    </div>

    <div class="form-group row">
        <div class="col-sm-3">
            <nop-label asp-for="StatusId" />
        </div>
        <div class="col-sm-6">
            <select id="statusDropdown" name="StatusId" asp-for="StatusId" asp-items="Model.StatusList" class="select2-custom form-control" style="border-radius:0;"></select>
            <span asp-validation-for="StatusId"></span>      
        </div>
        <script>
            $(document).ready(function () {
                function formatStatus(state) {
                    if (!state.id) return state.text;
                    const [text, color] = state.text.split("|||");
                    return $(`
                        <div style="display: flex; align-items: center; gap: 6px;">
                            <div style="width: 12px; height: 12px; border-radius: 50%; background-color: ${color};"></div>
                            <span>${text}</span>
                        </div>
                    `);
                }
            $('#statusDropdown').select2({
                    templateResult: formatStatus,
                    templateSelection: formatStatus,
                    escapeMarkup: function (m) { return m; },
                     minimumResultsForSearch: Infinity
                });
            });
        </script>
        <style>
            .select2-container .select2-selection--single {
                height: 35px;
                padding-left: 0px;
            }

            .select2-container--default .select2-selection--single .select2-selection__arrow {
                height: 35px;
            }

            .select2-container--default .select2-selection--single {
                border-radius:0;
            }

        </style>
    </div>
    <div class="form-group row">
        <div class="col-md-3">
            <nop-label asp-for="TaskTitle" />
        </div>
        <div class="col-md-6">
            <nop-editor asp-for="TaskTitle" id="TaskTitle" asp-required="true" />
            <span asp-validation-for="TaskTitle"></span>
        </div>
    </div>
    <div class="form-group row">
        <div class="col-md-3">
            <nop-label asp-for="Description" />
        </div>
        <div class="col-md-6">
            <nop-textarea asp-for="Description" id="Description" />
            <span asp-validation-for="Description"></span>
        </div>
    </div>
   
    <div class="form-group row">
        <div class="col-sm-3">
            <nop-label asp-for="Tasktypeid" />
        </div>
        <div class="col-sm-6">
            <nop-select asp-for="Tasktypeid" asp-items="Model.TaskTypeList" asp-required="true"/>
            <span asp-validation-for="Tasktypeid"></span>
        </div>
    </div>

    <div class="form-group row">
        <div class="col-sm-3">
            <nop-label asp-for="ParentTaskId" />
        </div>
        <div class="col-md-4">
            <div style="position: relative;">
                <select id="ParentTaskId" name="ParentTaskId" class="form-control" style="border: none;
        box-shadow: none;">
                    <option value=""></option>
                    @foreach (var task in Model.AvailableParentTasks)
                    {
                        <option value="@task.Value">@task.Text</option>
                    }
                </select>
                <span asp-validation-for="ParentTaskId"></span>
                <span style="color:red;" id="taskError"></span>
            </div>
        </div>
    </div>
    <script>
        $(document).ready(function () {

            var initialProjectId     = "@Model.ProjectId";
            var initialParentTaskId  = "@Model.ParentTaskId";
            var taskDropdown = $("#ParentTaskId").kendoDropDownList({
                optionLabel: "Select a task",
                dataTextField: "Text",
                dataValueField: "Value",
                filter: "contains"
            }).data("kendoDropDownList");
            function loadParentTasks(projectId, preselectId) {
                if (!projectId) {
                    taskDropdown.dataSource.data([]);
                    taskDropdown.value("");
                    return;
                }
                $.getJSON('/Admin/ProjectTask/GetParentTasksByProjectId',
                          { projectId: projectId },
                          function (data) {
                              taskDropdown.dataSource.data(data);
                              if (preselectId) taskDropdown.value(preselectId);
                          });
            }
            loadParentTasks(initialProjectId, initialParentTaskId);
         
            $('#@Html.IdFor(m => m.ProjectId)').change(function () {
                loadParentTasks($(this).val(), null);   
            });
              var taskTypeSelector = $('#@Html.IdFor(m => m.Tasktypeid)');
        var parentTaskSelector = $("#ParentTaskId");
        var parentTaskError = $("#taskError");

        function validateParentTask() {
            var taskTypeVal = taskTypeSelector.val();
            var parentTaskVal = parentTaskSelector.val();
            if ((taskTypeVal === "3" || taskTypeVal === "4") && (!parentTaskVal || parentTaskVal === "0" || parentTaskVal === "")) {
                parentTaskError.text("Parent task is required when Task Type is Bug or Change request");
                return false;
            } else {
                parentTaskError.text("");
                return true;
            }
        }
        $('form').on('submit', function (e) {
            if (!validateParentTask()) {
                e.preventDefault(); 
            }
        });
        });
    </script>
    <div class="form-group row">
        <div class="col-md-3">
            <nop-label asp-for="DueDate" />
        </div>
        <div class="col-md-4">
            <nop-editor asp-for="DueDate" />
            <span asp-validation-for="DueDate"></span>
        </div>
    </div>

    <div class="form-group row">
        <div class="col-sm-3">
            <nop-label asp-for="SelectedEmployeeId" />
        </div>
        <div class="col-md-4">
            <div style="position: relative;">
                <nop-select asp-for="SelectedEmployeeId" asp-items="Model.AvailableEmployees" asp-multiple="true" class="form-control" />

            </div>
            <script>
                $(document).ready(function () {
                    var selectElement = $('#@Html.IdFor(model => model.SelectedEmployeeId)').data("kendoMultiSelect");

                    selectElement.setOptions({
                        autoClose: true,
                        filter: "contains",
                        change: function (e) {
                            if (this.value().length > 1) {
                                var lastItem = this.value()[this.value().length - 1];
                                this.value([lastItem]);
                            }
                        }
                    });

                @if (Model.AvailableEmployees.Count == 0)
                {
                    <text>
                            selectElement.setOptions({
                                enable: false,
                                placeholder: '@T("Admin.Catalog.Employee.NoEmployee")'
                            });
                        selectElement._placeholder();
                        selectElement._enable();
                    </text>
                }
                                                                                });
            </script>
        </div>
    </div>

    <div class="form-group row">
        <div class="col-sm-3">
            <nop-label asp-for="DeveloperId" />
        </div>
        <div class="col-md-4">
            <div style="position: relative;">
                <select id="developerDropdown" name="DeveloperId" class="form-control" style="border: none;
        box-shadow: none;">
                    <option value=""></option>
                    @foreach (var employee in Model.AvailableEmployees)
                    {
                        <option value="@employee.Value">@employee.Text</option>
                    }
                </select>
            </div>
        </div>
    </div>

    <script>
          $(document).ready(function () {
           $("#developerDropdown").kendoDropDownList({
        optionLabel: "Select an employee",
        dataTextField: "Text",
        dataValueField: "Value",
        filter: "contains",
        autoBind: false,
        value:@Model.DeveloperId,
        dataSource: @Html.Raw(Json.Serialize(Model.AvailableEmployees))
                                        });
                                          });
    </script>
  
    <div class="form-group row">
        <div class="col-md-3">
            <nop-label asp-for="EstimationTimeHHMM" />
        </div>
        <div class="col-md-4 d-flex align-items-center">
            <input type="text" name="EstimationTimeHHMM" class="estimationTimeInput form-control" placeholder="HH:MM" value="@Model.EstimationTimeHHMM" />
            <span class="text-danger" style="font-weight: bold; margin-left: 5px;">*</span>
        </div>
    </div>

    <div class="form-group row">
        <div class="col-md-3">
            <nop-label asp-for="SpentTime" />
        </div>
        <div class="col-md-4 d-flex align-items-center">
            <input type="text" name="SpentTime" class="spentTimeInput form-control" placeholder="HH:MM" value="@Model.SpentTime"  />
            <span class="text-danger" style="font-weight: bold; margin-left: 5px;">*</span>
            <span class="text-danger" id="SpentTimeValidation"></span>
        </div>
    </div>

    <script>
        $(document).on('input', '.spentTimeInput', function () {
            var inputVal = $(this).val().replace(/[^0-9:]/g, ''); 
            var timeParts = inputVal.split(":");
            if (timeParts.length > 2) {
                inputVal = timeParts[0] + ":" + timeParts[1].slice(0, 2); 
            }
            var isValid = timeParts.length === 2 && timeParts[0].length > 0 && timeParts[1].length > 0;
            if (isValid && parseInt(timeParts[1], 10) > 59) {
                timeParts[1] = "59"; 
            }
            if (!isValid) {
                $('#SpentTimeValidation').text("Invalid format. Use HH:MM");
            } else {
                $('#SpentTimeValidation').text("");
            }

            $(this).val(timeParts.join(":"));
        });
        $(document).on('input', '.estimationTimeInput', function () {
            var inputVal = $(this).val().replace(/[^0-9:]/g, ''); 
            var timeParts = inputVal.split(":");

            if (timeParts.length > 2) {
                inputVal = timeParts[0] + ":" + timeParts[1].slice(0, 2); 
            }
            var isValid = timeParts.length === 2 && timeParts[0].length > 0 && timeParts[1].length > 0;

            if (isValid && parseInt(timeParts[1], 10) > 59) {
                timeParts[1] = "59"; 
            }
            if (!isValid) {
                $('#EstimationTimeValidation').text("Invalid format. Use HH:MM");
            } else {
                $('#EstimationTimeValidation').text("");
            }
            $(this).val(timeParts.join(":"));
        });
    </script>
    <div class="form-group row">
        <div class="col-md-3">
            <nop-label asp-for="BugCount" />
        </div>
        <div class="col-md-4">
            <nop-editor asp-for="BugCount" />
            <span asp-validation-for="BugCount"></span>
        </div>
    </div>
    <div class="form-group row">
        <div class="col-md-3">
            <nop-label asp-for="QualityComments" />
        </div>
        <div class="col-md-6">
            <nop-textarea asp-for="QualityComments" />
            <span asp-validation-for="QualityComments"></span>
        </div>
    </div>

    <div class="form-group row">
        <div class="col-md-3">
            <nop-label asp-for="IsSync" />
        </div>
        <div class="col-md-4">
            <nop-editor asp-for="IsSync" />
            <span asp-validation-for="IsSync"></span>
        </div>
    </div>
  
    <div class="form-group row">
        <div class="col-md-3">
            <nop-label asp-for="IsManualDOT" />
        </div>
        <div class="col-md-4">
            <nop-editor asp-for="IsManualDOT" />
            <span asp-validation-for="IsManualDOT"></span>
        </div>
    </div>
</div>

