@model AzureSyncLogSearchModel

@{
    Layout = "_AdminLayout";
    ViewBag.PageTitle = T("Satyanam.Plugin.Misc.AzureIntegration.Admin.AzureSyncLog.ListOfAzureSyncLogs").Text;
    NopHtml.SetActiveMenuItemSystemName("Satyanam.Plugin.Misc.AzureIntegration.Admin.AzureSyncLog");

    const string hideSearchBlockAttributeName = "AzureSyncLogPage.HideSearchBlock";
    var hideSearchBlock = await genericAttributeService.GetAttributeAsync<bool>(await workContext.GetCurrentCustomerAsync(), hideSearchBlockAttributeName);
}

<form asp-controller="AzureIntegration" asp-action="List" method="post">
    <div class="content-header clearfix">
        <h1 class="float-left">
            @T("Satyanam.Plugin.Misc.AzureIntegration.Admin.AzureSyncLog.ListOfAzureSyncLogs")
        </h1>
        <div class="float-right">
            <button type="button" id="delete-selected" name="delete-selected" class="btn btn-danger">
                <i class="far fa-trash-alt"></i>
                @T("Admin.System.Log.DeleteSelected")
            </button>
            <nop-action-confirmation asp-button-id="delete-selected" />
            <button type="submit" id="clearall" name="clearall" class="btn btn-danger">
                <i class="far fa-trash-alt"></i>
                @T("Admin.System.Log.ClearLog")
            </button>
            <nop-action-confirmation asp-button-id="clearall" asp-action="ClearAll" />
        </div>
    </div>

    <section class="content">
        <div class="container-fluid">
            <div class="form-horizontal">
                <div class="cards-group">
                    <div class="card card-default card-search">
                        <div class="card-body">
                            <div class="row search-row @(!hideSearchBlock ? "opened" : "")" data-hideAttribute="@hideSearchBlockAttributeName">
                                <div class="search-text">@T("Admin.Common.Search")</div>
                                <div class="icon-search"><i class="fas fa-search" aria-hidden="true"></i></div>
                                <div class="icon-collapse"><i class="far fa-angle-@(!hideSearchBlock ? "up" : "down")" aria-hidden="true"></i></div>
                            </div>

                            <div class="search-body @(hideSearchBlock ? "closed" : "")">
                                <div class="row">
                                    <div class="col-md-6">
                                        <div class="form-group row">
                                            <div class="col-md-4">
                                                <nop-label asp-for="SearchStartDate" />
                                            </div>
                                            <div class="col-md-8">
                                                <nop-editor asp-for="SearchStartDate" />
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="form-group row">
                                            <div class="col-md-4">
                                                <nop-label asp-for="SearchEndDate" />
                                            </div>
                                            <div class="col-md-8">
                                                <nop-editor asp-for="SearchEndDate" />
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="form-group row">
                                    <div class="text-center col-12">
                                        <button type="button" id="search-azure-sync-logs" class="btn btn-primary btn-search"><i class="fas fa-search"></i>@T("Admin.Common.Search")</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="card card-default">
                        <div class="card-body">
                            @await Html.PartialAsync("Table", new DataTablesModel
                            {
                                Name = "azure-sync-logs-grid",
                                UrlRead = new DataUrl("List", "AzureIntegration", null),
                                SearchButtonId = "search-azure-sync-logs",
                                Length = Model.PageSize,
                                LengthMenu = Model.AvailablePageSizes,
                                Filters = new List<FilterParameter>
                                {
                                    new FilterParameter(nameof(Model.SearchStartDate), typeof(DateTime?)),
                                    new FilterParameter(nameof(Model.SearchEndDate), typeof(DateTime?))
                                },
                                ColumnCollection = new List<ColumnProperty>
                                {
                                    new ColumnProperty(nameof(AzureSyncLogModel.Id))
                                    {
                                        IsMasterCheckBox = true,
                                        Render = new RenderCheckBox("checkbox_azure-sync_logs"),
                                        ClassName =  NopColumnClassDefaults.CenterAll,
                                        Width = "50"
                                    },
                                    new ColumnProperty(nameof(AzureSyncLogModel.APIEndPoint))
                                    {
                                        Title = T("Satyanam.Plugin.Misc.AzureIntegration.Admin.AzureSyncLog.Fields.APIEndPoint").Text
                                    },
                                    new ColumnProperty(nameof(AzureSyncLogModel.TaskName))
                                    {
                                        Title = T("Satyanam.Plugin.Misc.AzureIntegration.Admin.AzureSyncLog.Fields.TaskTitle").Text
                                    },
                                    new ColumnProperty(nameof(AzureSyncLogModel.Exception))
                                    {
                                        Title = T("Satyanam.Plugin.Misc.AzureIntegration.Admin.AzureSyncLog.Fields.Exception").Text,
                                        Width = "500",
                                    },
                                    new ColumnProperty(nameof(AzureSyncLogModel.CreatedOn))
                                    {
                                        Title = T("Satyanam.Plugin.Misc.AzureIntegration.Admin.AzureSyncLog.Fields.CreatedOn").Text,
                                        Width = "120",
                                        Render = new RenderDate()
                                    }
                                }
                            })
                            <script>
                                $(document).ready(function () {
                                    $("#delete-selected-action-confirmation-submit-button").bind("click", function () {
                                        var postData = {
                                            selectedIds: selectedIds
                                        };
                                        addAntiForgeryToken(postData);
                                        $.ajax({
                                            cache: false,
                                            type: "POST",
                                            url: "@(Url.Action("DeleteSelected", "AzureIntegration"))",
                                            data: postData,
                                            traditional: true,
                                            error: function (jqXHR, textStatus, errorThrown) {
                                                showAlert('deleteSelectedFailed', errorThrown);
                                            },
                                            complete: function (jqXHR, textStatus) {
                                                if (jqXHR.status === 204) {
                                                    showAlert('nothingSelectedAlert', '@T("Admin.Common.Alert.NothingSelected")');
                                                    return;
                                                }
                                                updateTable('#azure-sync-logs-grid');
                                            }
                                        });
                                        $('#delete-selected-action-confirmation').modal('toggle');
                                        return false;
                                    });
                                });
                            </script>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</form>
<nop-alert asp-alert-id="deleteSelectedFailed" />
<nop-alert asp-alert-id="nothingSelectedAlert" />