@using App.Web.Areas.Admin.Models.Extension.Announcements
@model AnnouncementModel
@{
    //page title
    ViewBag.PageTitle = T("Admin.Configuration.Announcement.EditAnnouncementDetails").Text;
    //active menu item (system name)
    NopHtml.SetActiveMenuItemSystemName("Announcement");
}
<form asp-controller="Announcement" asp-action="Edit" method="post">
    <div class="content-header clearfix">
        <h1 class="float-left">
            @T("Admin.Configuration.Announcement.EditAnnouncementDetails")
            <small>
                <i class="fas fa-arrow-circle-left"></i>
                <a asp-action="List">@T("Admin.Configuration.Announcement.BackToList")</a>
            </small>
        </h1>
        <div class="float-right">
            @if (Model.IsSent == false && await permissionService.AuthorizeAsync(StandardPermissionProvider.ManageAnnouncements, PermissionAction.Edit))
            {
                <button type="button" id="btnSendAnnouncement" class="btn btn-success">
                    <i class="fa fa-envelope"></i> Send Announcement
                </button>
                <button type="submit" name="save" class="btn btn-primary">
                    <i class="far fa-save"></i>
                    @T("Admin.Common.Save")
                </button>
                <button type="submit" name="save-continue" class="btn btn-primary">
                    <i class="far fa-save"></i>
                    @T("Admin.Common.SaveContinue")
                </button>
            }
            @if (await permissionService.AuthorizeAsync(StandardPermissionProvider.ManageAnnouncements, PermissionAction.Delete))
            {
                <span id="activity-delete" class="btn btn-danger">
                    <i class="far fa-trash-alt"></i>
                    @T("Admin.Common.Delete")
                </span>
            }
        </div>
    </div>
    @await Html.PartialAsync("/Areas/Admin/Views/Extension/Announcements/_CreateOrUpdate.cshtml", Model)
</form>
<nop-delete-confirmation asp-model-id="@Model.Id" asp-button-id="activity-delete" />