@model InvoiceModel

@{
    Layout = "_AdminLayout";
    ViewBag.PageTitle = T("Satyanam.Plugin.Misc.AccountManagement.Admin.Invoice.Edit").Text;
    NopHtml.SetActiveMenuItemSystemName("Satyanam.Plugin.Misc.AccountManagement.Admin.Invoices");
}

<form asp-controller="AccountManagement" asp-action="InvoiceEdit" method="post" id="invoice-form">
    <div class="content-header clearfix">
        <h1 class="float-left">
            @T("Satyanam.Plugin.Misc.AccountManagement.Admin.Invoice.Edit")
            <small>
                <i class="fas fa-arrow-circle-left"></i>
                <a asp-action="Invoices" asp-controller="AccountManagement">@T("Satyanam.Plugin.Misc.AccountManagement.Admin.Invoice.BackToList")</a>
            </small>
        </h1>
        <div class="float-right">
            @if (Model.InvoiceItems)
            {
                <button type="button" class="btn btn-success" data-toggle="modal" data-target="#sendemail-window">
                    <i class="far fa-envelope"></i>
                    @T("Satyanam.Plugin.Misc.AccountManagement.Admin.Invoice.SendEmail")
                </button>
                <a asp-action="GenerateInvoice" asp-route-id="@Model.Id" asp-controller="AccountManagement" class="btn btn-success">
                    <i class="far fa-file-pdf"></i>
                    @T("Satyanam.Plugin.Misc.AccountManagement.Admin.Invoice.GenerateInvoice")
                </a>
            }
            @if (await permissionService.AuthorizeAsync(AccountManagementPermissionProvider.ManageInvoices, PermissionAction.Edit))
            {
                <button type="submit" name="save" class="btn btn-primary">
                    <i class="far fa-save"></i>
                    @T("Admin.Common.Save")
                </button>
                <button type="submit" name="save-continue" class="btn btn-primary">
                    <i class="far fa-save"></i>
                    @T("Admin.Common.SaveContinue")
                </button>
            }
        </div>
    </div>
    @await Html.PartialAsync("_CreateOrUpdateInvoice.cshtml", Model)
</form>

<div id="sendemail-window" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="sendemail-window-title">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title" id="sendemail-window-title">@T("Satyanam.Plugin.Misc.AccountManagement.Admin.Invoice.SendEmail")</h4>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            </div>
            <form asp-controller="AccountManagement" asp-action="SendEmail" asp-route-id="@Model.Id" method="post">
                <input type="hidden" asp-for="Id" id="SendEmail_Id" />
                <div class="form-horizontal">
                    <div class="modal-body">
                        <div class="form-group row">
                            <div class="col-md-3">
                                <nop-label asp-for="SendEmail.Name" />
                            </div>
                            <div class="col-md-9">
                                <nop-editor asp-for="SendEmail.Name" />
                                <span asp-validation-for="SendEmail.Name"></span>
                            </div>
                        </div>
                        <div class="form-group row">
                            <div class="col-md-3">
                                <nop-label asp-for="SendEmail.Email" />
                            </div>
                            <div class="col-md-9">
                                <nop-editor asp-for="SendEmail.Email" />
                                <span asp-validation-for="SendEmail.Email"></span>
                            </div>
                        </div>
                        <div class="form-group row">
                            <div class="col-md-3">
                                <nop-label asp-for="SendEmail.Subject" />
                            </div>
                            <div class="col-md-9">
                                <nop-editor asp-for="SendEmail.Subject" />
                                <span asp-validation-for="SendEmail.Subject"></span>
                            </div>
                        </div>
                        <div class="form-group row">
                            <div class="col-md-3">
                                <nop-label asp-for="SendEmail.Body" />
                            </div>
                            <div class="col-md-9">
                                <nop-editor asp-for="SendEmail.Body" asp-template="RichEditor" />
                                <span asp-validation-for="SendEmail.Body"></span>
                            </div>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="submit" class="btn btn-primary" name="mailType" value="test">
                            <i class="far fa-envelope"></i>
                            @T("Satyanam.Plugin.Misc.AccountManagement.Admin.Invoice.SendTestEmail")
                        </button>
                        <button type="submit" class="btn btn-primary" name="mailType" value="confirm">
                            <i class="far fa-envelope"></i>
                            @T("Satyanam.Plugin.Misc.AccountManagement.Admin.Invoice.SendEmail")
                        </button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>