@model ProjectBillingSearchModel

@{
    Layout = "_AdminLayout";
    ViewBag.PageTitle = T("Satyanam.Plugin.Misc.AccountManagement.Admin.ProjectBilling.List").Text;
    NopHtml.SetActiveMenuItemSystemName("Satyanam.Plugin.Misc.AccountManagement.Admin.ProjectBillings");

    const string hideSearchBlockAttributeName = "ProjectBillingListPage.HideSearchBlock";
    var hideSearchBlock = await genericAttributeService.GetAttributeAsync<bool>(await workContext.GetCurrentCustomerAsync(), hideSearchBlockAttributeName);
}

<div class="content-header clearfix">
    <h1 class="float-left">
        @T("Satyanam.Plugin.Misc.AccountManagement.Admin.ProjectBilling.List")
    </h1>
    @if (await permissionService.AuthorizeAsync(AccountManagementPermissionProvider.ManageProjectBillings, PermissionAction.Add))
    {
        <div class="float-right">
            <a asp-action="ProjectBillingCreate" asp-controller="AccountManagement" class="btn btn-primary">
                <i class="fas fa-plus-square"></i>
                @T("Admin.Common.AddNew")
            </a>
        </div>
    }
</div>
<section class="content">
    <div class="container-fluid">
        <div class="form-horizontal">
            <div class="cards-group">
                <div class="card card-default card-search">
                    <div class="card-body">
                        <div class="row search-row @(!hideSearchBlock ? "opened" : "")" data-hideAttribute="@hideSearchBlockAttributeName">
                            <div class="search-text">@T("Admin.Common.Search")</div>
                            <div class="icon-search"><i class="fas fa-search" aria-hidden="true"></i></div>
                            <div class="icon-collapse"><i class="far fa-angle-@(!hideSearchBlock ? "up" : "down")" aria-hidden="true"></i></div>
                        </div>
                        <div class="search-body @(hideSearchBlock ? "closed" : "")">
                            <div class="row">
                                <div class="col-md-5">
                                    <div class="form-group row">
                                        <div class="col-md-4">
                                            <nop-label asp-for="SearchBillingName" />
                                        </div>
                                        <div class="col-md-8">
                                            <nop-editor asp-for="SearchBillingName" />
                                        </div>
                                    </div>
                                    <div class="form-group row">
                                        <div class="col-md-4">
                                            <nop-label asp-for="SearchProjectId" />
                                        </div>
                                        <div class="col-md-8">
                                            <nop-select asp-for="SearchProjectId" asp-items="Model.AvailableProjects" />
                                        </div>
                                    </div>
                                    <div class="form-group row">
                                        <div class="col-md-4">
                                            <nop-label asp-for="SearchCompanyId" />
                                        </div>
                                        <div class="col-md-8">
                                            <nop-select asp-for="SearchCompanyId" asp-items="Model.AvailableCompanies" />
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-7">
                                    <div class="form-group row">
                                        <div class="col-md-4">
                                            <nop-label asp-for="SearchPaymentTermId" />
                                        </div>
                                        <div class="col-md-8">
                                            <nop-select asp-for="SearchPaymentTermId" asp-items="Model.AvailablePaymentTerms" />
                                        </div>
                                    </div>
                                    <div class="form-group row">
                                        <div class="col-md-4">
                                            <nop-label asp-for="SearchBillingTypeId" />
                                        </div>
                                        <div class="col-md-8">
                                            <nop-select asp-for="SearchBillingTypeId" asp-items="Model.AvailableBillingTypes" />
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="text-center col-12">
                                    <button type="button" id="search-project-billings" class="btn btn-primary btn-search">
                                        <i class="fas fa-search"></i>
                                        @T("Admin.Common.Search")
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="card card-default">
                    <div class="card-body">
                        @{
                            var gridModel = new DataTablesModel
                            {
                                Name = "project-billings-grid",
                                UrlRead = new DataUrl("ProjectBillings", "AccountManagement", null),
                                UrlDelete = new DataUrl("ProjectBillingDelete", "AccountManagement", null),
                                SearchButtonId = "search-project-billings",
                                Length = Model.PageSize,
                                LengthMenu = Model.AvailablePageSizes,
                                Filters = new List<FilterParameter>
                                {
                                    new FilterParameter(nameof(Model.SearchBillingName)),
                                    new FilterParameter(nameof(Model.SearchProjectId)),
                                    new FilterParameter(nameof(Model.SearchCompanyId)),
                                    new FilterParameter(nameof(Model.SearchPaymentTermId)),
                                    new FilterParameter(nameof(Model.SearchBillingTypeId))
                                },
                            };

                            gridModel.ColumnCollection.Add(new ColumnProperty(nameof(ProjectBillingModel.BillingName))
                            {
                                Title = T("Satyanam.Plugin.Misc.AccountManagement.Admin.ProjectBilling.Fields.BillingName").Text
                            });
                            gridModel.ColumnCollection.Add(new ColumnProperty(nameof(ProjectBillingModel.ProjectName))
                            {
                                Title = T("Satyanam.Plugin.Misc.AccountManagement.Admin.ProjectBilling.Fields.ProjectId").Text
                            });
                            gridModel.ColumnCollection.Add(new ColumnProperty(nameof(ProjectBillingModel.CompanyName))
                            {
                                Title = T("Satyanam.Plugin.Misc.AccountManagement.Admin.ProjectBilling.Fields.CompanyId").Text
                            });
                            gridModel.ColumnCollection.Add(new ColumnProperty(nameof(ProjectBillingModel.PaymentTerm))
                            {
                                Title = T("Satyanam.Plugin.Misc.AccountManagement.Admin.ProjectBilling.Fields.PaymentTermId").Text
                            });
                            gridModel.ColumnCollection.Add(new ColumnProperty(nameof(ProjectBillingModel.BillingType))
                            {
                                Title = T("Satyanam.Plugin.Misc.AccountManagement.Admin.ProjectBilling.Fields.BillingTypeId").Text
                            });
                            gridModel.ColumnCollection.Add(new ColumnProperty(nameof(ProjectBillingModel.BillingRate))
                            {
                                Title = T("Satyanam.Plugin.Misc.AccountManagement.Admin.ProjectBilling.Fields.BillingRate").Text
                            });
                            gridModel.ColumnCollection.Add(new ColumnProperty(nameof(ProjectBillingModel.IsActive))
                            {
                                Title = T("Satyanam.Plugin.Misc.AccountManagement.Admin.PaymentTerm.Fields.IsActive").Text,
                                ClassName = NopColumnClassDefaults.CenterAll,
                                Render = new RenderBoolean()
                            });
                            gridModel.ColumnCollection.Add(new ColumnProperty(nameof(ProjectBillingModel.DisplayOrder))
                            {
                                Title = T("Satyanam.Plugin.Misc.AccountManagement.Admin.PaymentTerm.Fields.DisplayOrder").Text,
                                ClassName = NopColumnClassDefaults.CenterAll
                            });
                            @if (await permissionService.AuthorizeAsync(AccountManagementPermissionProvider.ManageProjectBillings, PermissionAction.Edit))
                            {
                                gridModel.ColumnCollection.Add(new ColumnProperty(nameof(PaymentTermModel.Id))
                                {
                                    Title = T("Admin.Common.Edit").Text,
                                    Width = "100",
                                    ClassName = NopColumnClassDefaults.Button,
                                    Render = new RenderButtonEdit(new DataUrl("~/Admin/AccountManagement/ProjectBillingEdit/"))
                                });
                            }
                            @if (await permissionService.AuthorizeAsync(AccountManagementPermissionProvider.ManageProjectBillings, PermissionAction.Delete))
                            {
                                gridModel.ColumnCollection.Add(new ColumnProperty(nameof(PaymentTermModel.Id))
                                {
                                    Title = T("Admin.Common.Delete").Text,
                                    Width = "100",
                                    Render = new RenderButtonRemove(T("Admin.Common.Delete").Text),
                                    ClassName = NopColumnClassDefaults.Button
                                });
                            }
                        }
                        @await Html.PartialAsync("Table", gridModel)
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>