@using App.Web.Areas.Admin.Models.Extension.TimesheetReports

@model TimesheetReportSearchModel
@{
    //page title
    ViewBag.PageTitle = T("Admin.Configuration.ReportByTask").Text;
    //active menu item (system name)
    NopHtml.SetActiveMenuItemSystemName("ReportByTask");

    const string hideSearchBlockAttributeName = "ReportByEmployee.HideSearchBlock";
    var hideSearchBlock = await genericAttributeService.GetAttributeAsync<bool>(await workContext.GetCurrentCustomerAsync(), hideSearchBlockAttributeName);
}

<link rel="stylesheet" href="https://kendo.cdn.telerik.com/themes/8.2.1/default/default-main.css" />


<!-- Kendo UI JS -->
<script src="https://kendo.cdn.telerik.com/2023.2.829/js/kendo.all.min.js"></script>

<div class="content-header clearfix">
    <h1 class="float-left">
        @T("Admin.Configuration.ReportByTask")
    </h1>

    <button id="export-to-excel" class="btn btn-primary float-right hide-before">
        <i class="fas fa-file-excel"></i>
        Export to Excel
    </button>
</div>
<section class="content">
    <div class="container-fluid">
        <div class="form-horizontal">
            <div class="cards-group">
                <div class="card card-default card-search">
                    <div class="card-body">

                        <!-- First  Row: Employee -->
                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-group row">
                                    <div class="col-sm-3">
                                        <nop-label asp-for="SelectedProjectIds" />
                                    </div>
                                    <div class="col-sm-8">

                                        <select id="SelectedProjectIds" name="SelectedProjectIds" class="kendo-multi-select" style="min-height:30px;" multiple>
                                            @foreach (var project in Model.AvailableProjects)
                                            {
                                                <option value="@project.Value">@project.Text</option>
                                            }
                                        </select>
                                        <span style="color:red; font-weight:bold; position: absolute; right: -5px; top: 15px;">*</span>

                                        <script>
                                            $(document).ready(function () {
                                                var projectSelect = $('#SelectedProjectIds').kendoMultiSelect({
                                                    autoClose: true,
                                                    filter: "contains",

                                                }).data("kendoMultiSelect");

                                            @if (Model.AvailableProjects.Count == 0)
                                            {
                                                <text>
                                                        projectSelect.setOptions({
                                                            enable: false,
                                                            placeholder: '@T("Admin.Catalog.Products.NoAvailableProjects")'
                                                        });
                                                    projectSelect._placeholder();
                                                    projectSelect._enable();
                                                </text>
                                            }
                                                                                                                                                                                                                                                                                                                                                        });
                                        </script>
                                        <div id="Project-error"></div>
                                        <span asp-validation-for="SelectedProjectIds"></span>

                                    </div>
                                </div>
                            </div>


                            <div class="col-md-6">
                                <div class="form-group row">
                                    <div class="col-sm-3">
                                        <nop-label asp-for="ShowById" />
                                    </div>
                                    <div class="col-sm-8">
                                        <nop-select asp-for="ShowById" asp-items="Model.ShowByList" />
                                        <span asp-validation-for="ShowById"></span>
                                    </div>
                                </div>
                            </div>
                           

                        </div>

                        <div class="row">


                            <div class="col-md-6">
                                <div class="form-group row">
                                    <div class="col-sm-3">
                                        <nop-label asp-for="SelectedTaskIds" />
                                    </div>
                                    <div class="col-sm-8">
                                        <div style="position: relative;">
                                            <nop-select asp-for="SelectedTaskIds" asp-items="Model.AvailableTasks" asp-multiple="true" class="form-control" id="SelectedTaskIds" />

                                            <span style="color:red; font-weight:bold; position: absolute; right: -12px; top: 15px;">*</span>
                                        </div>
                                        <span id="Project-error"></span>
                                        <script>
                                            $(document).ready(function () {
                                                var selectElement = $('#@Html.IdFor(model => model.SelectedTaskIds)').data("kendoMultiSelect");

                                                selectElement.setOptions({
                                                    autoClose: true,
                                                    filter: "contains",

                                                });
                                            });
                                        </script>
                                        <div id="Task-error"></div>
                                        <span asp-validation-for="SelectedTaskIds"></span>
                                    </div>
                                </div>
                            </div>

                            <div class="col-md-6">
                                <div class="form-group row">
                                    <div class="col-sm-3">
                                        <nop-label asp-for="SearchPeriodId" />
                                    </div>
                                    <div class="col-sm-8">
                                        <nop-select asp-for="SearchPeriodId" asp-items="Model.PeriodList" />
                                        <span asp-validation-for="SearchPeriodId"></span>
                                    </div>
                                </div>
                            </div>
                           
                          
                        </div>
                        <!-- First Row: From and Show By -->
                        <div class="row">


                            <div class="col-md-6">
                                <div class="form-group row">
                                    <div class="col-sm-3">
                                        <nop-label asp-for="SelectedEmployeeIds" />
                                    </div>
                                    <div class="col-sm-8">
                                        <select id="SelectedEmployeeIds" name="SelectedEmployeeIds" class="kendo-multi-select" style="min-height:30px;" multiple>
                                            @foreach (var project in Model.AvailableEmployees)
                                            {
                                                <option value="@project.Value">@project.Text</option>
                                            }
                                        </select>
                                        <span style="color:red; font-weight:bold; position: absolute; right: -5px; top: 15px;">*</span>

                                        <script>
                                            $(document).ready(function () {
                                                var projectSelect = $('#SelectedEmployeeIds').kendoMultiSelect({
                                                    autoClose: true,
                                                    filter: "contains",

                                                }).data("kendoMultiSelect");

                                            @if (Model.AvailableEmployees.Count == 0)
                                            {
                                                <text>
                                                        projectSelect.setOptions({
                                                            enable: false,
                                                            placeholder: '@T("Admin.Catalog.Products.NoAvailableProjects")'
                                                        });
                                                    projectSelect._placeholder();
                                                    projectSelect._enable();
                                                </text>
                                            }
                                                                                                                                                                                                                                                                                                            });
                                        </script>

                                    </div>
                                </div>
                            </div>

                            <div class="col-md-6">
                                <div class="form-group row" style="display:none;" id="from-container">
                                    <div class="col-sm-3">
                                        <nop-label asp-for="From" />
                                    </div>
                                    <div class="col-sm-9">
                                        <nop-editor asp-for="From" asp-required="true" />
                                        <span asp-validation-for="From"></span>
                                        <span id="From-error"></span>
                                    </div>
                                </div>
                            </div>

                        </div>

                        <!-- Second Row: To and Project -->
                        <div class="row">

                            <div class="col-md-6">
                                <div class="form-group row">
                                    <div class="col-sm-3">
                                        <nop-label asp-for="HoursId" />
                                    </div>
                                    <div class="col-sm-8">
                                        <nop-select asp-for="HoursId" asp-items="Model.HoursList" />
                                        <span asp-validation-for="HoursId"></span>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group row" style="display:none;" id="to-container">
                                    <div class="col-sm-3">
                                        <nop-label asp-for="To" />
                                    </div>
                                    <div class="col-sm-9">
                                        <nop-editor asp-for="To" asp-required="true" />
                                        <span asp-validation-for="To"></span>
                                        <div id="To-error"></div>
                                    </div>
                                </div>
                            </div>

                            @*  <div class="col-md-6">
                            <div class="form-group row">
                            <div class="col-sm-3">
                            <nop-label asp-for="IsHideEmpty" />
                            </div>
                            <div class="col-sm-9">
                            <nop-editor asp-for="IsHideEmpty" class="form-control" />
                            <span asp-validation-for="IsHideEmpty"></span>
                            </div>
                            </div>
                            </div> *@
                        </div>



                        <!-- Search Button -->
                        <div class="row">
                            <div class="text-center col-12">
                                <button type="submit" id="search-brands" class="btn btn-primary btn-search">
                                    <i class="fas fa-chart-line"></i>
                                    @T("Admin.Reports.MonthlyReport.RunReport")
                                </button>

                            </div>
                        </div>
                    </div>
                </div>

                <script>
                    $(document).ready(function () {

                         //for automatically change dropdown according to difference of date
                    function updateShowByDropdown() {
                        var fromDate = new Date($('#From').val());
                        var toDate = new Date($('#To').val());

                        // Ensure both dates are selected
                        if (!isNaN(fromDate) && !isNaN(toDate)) {
                            var timeDiff = toDate - fromDate;
                            var daysDiff = timeDiff / (1000 * 3600 * 24);

                            // Get the normal dropdown element
                            var showByDropdown = $('#ShowById');
                            if (daysDiff > 31) {
                                // If the difference is more than 1 months (31 days), set to Monthly
                                showByDropdown.val('3');
                            } else if (daysDiff > 7) {
                                // If the difference is more than 7 days, set to Weekly
                                showByDropdown.val('2');
                            } else {
                                // Otherwise, set to Daily
                                showByDropdown.val('1');
                            }
                        }
                    }

                    // Trigger the function when the From or To date changes
                    $('#From, #To').on('change', updateShowByDropdown);

                        $('#SearchPeriodId').on('change', function () {
                        var periodId = $(this).val();

                        $.ajax({
                          url: "@(Url.Action("GetPeriodDateRange", "Reports"))",
                            type: 'GET',
                            data: { periodId: periodId },
                            success: function (data) {
                                if (data.from && data.to) {

                                    // Not custom, auto-fill and hide custom fields
                                    $('#From').val(data.from);
                                    $('#To').val(data.to);
                                    $('#from-container').hide();
                                    $('#to-container').hide();
                                    updateShowByDropdown()
                                } else {
                                    // Custom selected
                                    $('#From').val('');
                                    $('#To').val('');
                                    $('#from-container').show();
                                    $('#to-container').show();
                                    updateShowByDropdown()
                                }
                            }
                        });
                    });
                     $('#SearchPeriodId').trigger('change');
                    });
                </script>



                <div class="card card-default hide-before">
                    <div class="card-body">

                        <div class="table-wrapper">
                            <table id="timesheet-report-table" class="table">
                                <thead>
                                    <!-- Table header will be dynamically created here -->
                                </thead>
                                <tbody>
                                    <!-- Table body will be dynamically created here -->
                                </tbody>
                                <tfoot>
                                    <!-- Total row will be dynamically created here -->
                                </tfoot>
                            </table>
                        </div>
                    </div>
                </div>
                <script src="https://cdn.jsdelivr.net/npm/exceljs@4.3.0/dist/exceljs.min.js"></script>
                <script>
                    $(document).ready(function () {

                        $("#SelectedProjectIds").data("kendoMultiSelect").value(0);
                        fetchTasks();

                        $("#SelectedEmployeeIds").data("kendoMultiSelect").value(0);


                        $('#SelectedEmployeeIds').on('change', function () {
                            var projectMultiSelect = $("#SelectedEmployeeIds").data("kendoMultiSelect");  // Get Kendo MultiSelect instance
                            var selectedProjectIds = projectMultiSelect.value();  // Get the selected project IDs
                            console.log('Selected project IDs:', selectedProjectIds);
                            // Check if "All" (0) is selected
                            if (selectedProjectIds.includes('0')) {
                                // If "All" is the only selection, do nothing
                                if (selectedProjectIds.length === 1) {
                                    return; // Only "All" is selected, do nothing
                                }

                                // If "All" is selected last, unselect all other options
                                if (selectedProjectIds[selectedProjectIds.length - 1] === '0') {
                                    // Keep only "All"
                                    projectMultiSelect.value(['0']);
                                } else {
                                    // If another project is selected, unselect "All"
                                    projectMultiSelect.value($.grep(selectedProjectIds, function (value) {
                                        return value !== '0'; // Remove "All" from selection
                                    }));
                                }
                            } else {
                                // If no projects are selected, select "All" by default
                                if (selectedProjectIds.length === 0) {
                                    projectMultiSelect.value(['0']); // Default to "All"
                                }
                            }
                        });
                        // Project selection change event
                        $('#SelectedProjectIds').on('change', function () {
                            var projectMultiSelect = $("#SelectedProjectIds").data("kendoMultiSelect");  // Get Kendo MultiSelect instance
                            var selectedProjectIds = projectMultiSelect.value();  // Get the selected project IDs
                            console.log('Selected project IDs:', selectedProjectIds);
                            // Check if "All" (0) is selected
                            if (selectedProjectIds.includes('0')) {
                                // If "All" is the only selection, do nothing
                                if (selectedProjectIds.length === 1) {
                                    return; // Only "All" is selected, do nothing
                                }

                                // If "All" is selected last, unselect all other options
                                if (selectedProjectIds[selectedProjectIds.length - 1] === '0') {
                                    // Keep only "All"
                                    projectMultiSelect.value(['0']);
                                } else {
                                    // If another project is selected, unselect "All"
                                    projectMultiSelect.value($.grep(selectedProjectIds, function (value) {
                                        return value !== '0'; // Remove "All" from selection
                                    }));
                                }
                            } else {
                                // If no projects are selected, select "All" by default
                                if (selectedProjectIds.length === 0) {
                                    projectMultiSelect.value(['0']); // Default to "All"
                                }
                            }
                        });

                        $("#SelectedEmployeeIds").data("kendoMultiSelect").value(0);



                        // For the SelectedTaskIds dropdown
                        // Task selection change event
                        $('#SelectedTaskIds').on('change', function () {
                            var taskMultiSelect = $("#SelectedTaskIds").data("kendoMultiSelect");  // Get Kendo MultiSelect instance
                            var selectedTaskIds = taskMultiSelect.value();  // Get the selected task IDs

                            // Check if "All" (0) is selected
                            if (selectedTaskIds.includes(0)) {
                                // If "All" is the only selection, do nothing
                                if (selectedTaskIds.length === 1) {
                                    return; // Only "All" is selected, do nothing
                                }

                                // If "All" is selected last, unselect all other options
                                if (selectedTaskIds[selectedTaskIds.length - 1] === 0) {
                                    // Keep only "All"
                                    taskMultiSelect.value([0]);
                                } else {
                                    // If another task is selected, unselect "All"
                                    taskMultiSelect.value($.grep(selectedTaskIds, function (value) {
                                        return value !== 0; // Remove "All" from selection
                                    }));
                                }
                            } else {
                                // If no tasks are selected, select "All" by default
                                if (selectedTaskIds.length === 0) {
                                    taskMultiSelect.value([0]); // Default to "All"
                                }
                            }
                        });


                        function getMonthlySegments(fromDate, toDate) {
                            let segments = [];
                            let current = new Date(fromDate);

                            // Loop through months, even if partial
                            while (current <= toDate) {
                                let startOfMonth = new Date(current.getFullYear(), current.getMonth(), 1);
                                let endOfMonth = new Date(current.getFullYear(), current.getMonth() + 1, 0); // Last day of the month

                                // Adjust the segment start and end based on the selected range
                                let segmentStart = current > fromDate ? current : fromDate;
                                let segmentEnd = endOfMonth > toDate ? toDate : endOfMonth;

                                segments.push({
                                    start: new Date(segmentStart),
                                    end: new Date(segmentEnd)
                                });

                                // Move to the next month
                                current = new Date(endOfMonth);
                                current.setDate(current.getDate() + 1);
                            }

                            return segments;
                        }

                        // Helper function to calculate weekly segments
                        function getWeeklySegments(fromDate, toDate) {
                            let segments = [];
                            let current = new Date(fromDate);

                            // Loop to calculate weekly segments
                            while (current <= toDate) {
                                let weekStart = new Date(current);
                                let weekEnd = new Date(current);
                                weekEnd.setDate(current.getDate() + (7 - current.getDay())); // Set to the end of the week (Sunday if you do satuerday then do 6 insetd of 7 as old)
                                segments.push({
                                    start: new Date(weekStart),
                                    end: new Date(Math.min(weekEnd, toDate)) // Ensure we don't exceed the 'To' date
                                });
                                current = new Date(weekEnd);
                                current.setDate(current.getDate() + 1); // Move to the next week's start (Sunday)
                            }
                          

                            return segments;
                        }

                        // Format date as "Aug 1 - Aug 7"
                        function formatDateRange(startDate, endDate) {
                            let startMonth = startDate.toLocaleDateString('en-US', { month: 'short' });
                            let startDay = startDate.toLocaleDateString('en-US', { day: 'numeric' });
                            let endMonth = endDate.toLocaleDateString('en-US', { month: 'short' });
                            let endDay = endDate.toLocaleDateString('en-US', { day: 'numeric' });

                            if (startMonth === endMonth) {
                                return `${startMonth} ${startDay} - ${endDay}`;
                            } else {
                                return `${startMonth} ${startDay} - ${endMonth} ${endDay}`;
                            }
                        }

                        function validateEmployeeSelection() {
                            var selectedEmployeeIds = $('#SelectedProjectIds').val(); // Get selected employee IDs
                            var From = $('#From').val();
                            var To = $('#To').val();
                            var selectedTaskIds = $('#SelectedTaskIds').val(); // Get selected employee IDs

                            var isValid = true; // Assume valid unless we find errors

                            // Clear previous error messages
                            $('#Project-error').html('').css('color', '');
                            $('#From-error').html('').css('color', '');
                            $('#To-error').html('').css('color', '');
                            $('#Task-error').html('').css('color', '');


                            // Validate selected employees
                            if (!selectedEmployeeIds || selectedEmployeeIds.length === 0) {
                                $('#Project-error').html('Please select employee.').css('color', 'red'); // Show error message
                                isValid = false; // Validation failed
                            }

                            if (!selectedTaskIds || selectedTaskIds.length === 0) {
                                $('#Task-error').html('Please select at least one task.').css('color', 'red'); // Show error message
                                isValid = false; // Validation failed
                            }

                            // Validate From and To dates
                            if (!From || From == null) {
                                $('#From-error').html('Please select a start date.').css('color', 'red');
                                isValid = false; // Validation failed
                            }

                            if (!To) {
                                $('#To-error').html('Please select an end date.').css('color', 'red');
                                isValid = false; // Validation failed
                            }

                            if (From && To && new Date(To) < new Date(From)) {
                                $('#To-error').html('End date cannot be earlier than start date.').css('color', 'red');
                                isValid = false; // Validation failed
                            }

                            return isValid; // Return validation result
                        }

                        function fetchTasks() {
                            var projectIds = $('#SelectedProjectIds').val();  // Get the selected project IDs

                            // Validate project selection
                            if (projectIds && projectIds.length > 0) {
                                $('#projectError').text('');  // Clear error message if projects are selected

                                // Join project IDs into a comma-separated string
                                var projectIdsString = projectIds.join(',');

                                // Make GET request to fetch tasks based on selected project IDs
                                $.ajax({
                                    url: '@Url.Action("GetTasksFromProjects", "Reports")',  
                                    type: 'GET',
                                    data: { projectIds: projectIdsString },  
                                    success: function (tasks) {
                                        var taskMultiSelect = $("#SelectedTaskIds").data("kendoMultiSelect");  // Get Kendo MultiSelect instance

                                        // Check if tasks were returned
                                        if (tasks && tasks.length > 0) {
                                            // Clear existing options
                                            taskMultiSelect.dataSource.data([]);  // Clear data source

                                            // Ensure the correct fields are set for Kendo MultiSelect
                                            taskMultiSelect.setOptions({
                                                dataTextField: "TaskName",  // Ensure this matches the field returned by the server
                                                dataValueField: "TaskId"    // Ensure this matches the field returned by the server
                                            });

                                            // Map the tasks to ensure correct TaskId and TaskName are used
                                            var taskData = tasks.map(function (task) {
                                                return {
                                                    TaskId: task.TaskId,      // Make sure TaskId exists in the response
                                                    TaskName: task.TaskName   // Make sure TaskName exists in the response
                                                };
                                            });

                                            // // Add the "All" option
                                            // taskData.unshift({ TaskId: 0, TaskName: 'All' });


                                            // Bind the new data to the Kendo MultiSelect
                                            taskMultiSelect.setDataSource(new kendo.data.DataSource({
                                                data: taskData
                                            }));

                                            // Preselect the "All" option
                                            taskMultiSelect.value([0]);  // Select the "All" option with ID -1

                                            taskMultiSelect.refresh();  // Refresh the dropdown
                                        } else {
                                            // If no tasks available, clear the MultiSelect and display a message
                                            taskMultiSelect.setOptions({
                                                dataTextField: "TaskName",
                                                dataValueField: "TaskId"
                                            });

                                            taskMultiSelect.setDataSource(new kendo.data.DataSource({
                                                data: [{ TaskId: '', TaskName: 'No tasks available' }]
                                            }));

                                            taskMultiSelect.refresh();  // Refresh the dropdown
                                        }
                                    },
                                    error: function (xhr, status, error) {
                                        console.error('Error fetching tasks:', error);
                                        $('#employeeError').text('Failed to fetch tasks for the selected project(s).');
                                    }
                                });



                            } else {
                                $('#projectError').text('Please select a valid project.');  // Show error message if no projects are selected
                                $('#SelectedTaskIds').empty().append($('<option></option>').val('').text('Select a project first'));
                            }
                        }
                        function isWeekend(data, date) {
                            const utcTimestamp = Date.UTC(date.getFullYear(), date.getMonth(), date.getDate());
                            const utcDate = new Date(utcTimestamp);
                            const dateString = utcDate.toISOString().split('T')[0]; // extract the date part in YYYY-MM-DD format
                            

                            const isweeked = data.some(item => {
                                
                                return item.SpentDate.startsWith(dateString) && item.IsWeekend;
                            });

                           
                            return isweeked;
                        }
                        function isHoliday(data, date) {
                            const utcTimestamp = Date.UTC(date.getFullYear(), date.getMonth(), date.getDate());
                            const utcDate = new Date(utcTimestamp);
                            const dateString = utcDate.toISOString().split('T')[0]; 
                           

                            const isholiday = data.some(item => {
                                
                                return item.SpentDate.startsWith(dateString) && item.IsHoliday;
                            });


                            return isholiday;
                        }
                    
                        // Update the table with data and date segments
                        function updateTable(data, fromDate, toDate, showById) {
                            if (data && data.length > 0) {
                                $('.hide-before').removeClass('hide-before');
                            } else {
                                $('.hide-before').addClass('hide-before');
                            }

                            var tableBody = $("#timesheet-report-table tbody");
                            var tableHead = $("#timesheet-report-table thead");
                            var tableFoot = $("#timesheet-report-table tfoot");

                            tableBody.empty();
                            tableHead.empty();
                            tableFoot.empty();

                            var segments = [];
                            if (showById == "2") {
                                segments = getWeeklySegments(new Date(fromDate), new Date(toDate));
                            } else if (showById == "3") {
                                segments = getMonthlySegments(new Date(fromDate), new Date(toDate));
                            } else {
                                let current = new Date(fromDate);
                                while (current <= new Date(toDate)) {
                                    let segment = {
                                        start: new Date(current),
                                        end: new Date(current),
                                        isWeekend: isWeekend(data, current),
                                        isHoliday: isHoliday(data, current)
                                    };
                                    segments.push(segment);
                                    current.setDate(current.getDate() + 1);
                                }
                            }

                            var headerRow = $("<tr></tr>");
                            headerRow.append($("<th></th>").text("Tasks"));

                            segments.forEach(function (segment) {
                                var segmentText;
                                if (showById == "2") {
                                    segmentText = formatDateRange(segment.start, segment.end);
                                } else if (showById == "3") {
                                    var startDate = segment.start.toLocaleDateString('en-US', { month: 'short', day: 'numeric' });
                                    var endDate = segment.end.toLocaleDateString('en-US', { month: 'short', day: 'numeric' });
                                    segmentText = startDate + " - " + endDate;
                                } else {
                                    segmentText = segment.start.toLocaleDateString('en-US', { month: 'short', day: 'numeric' });
                                }

                                if (segment.isHoliday) {
                                    headerRow.append($("<th style='color:#4caf50'></th>").text(segmentText));
                                } else if (segment.isWeekend) {
                                    headerRow.append($("<th style='color: red'></th>").text(segmentText));
                                } else {
                                    headerRow.append($("<th></th>").text(segmentText));
                                }
                            });

                            headerRow.append($("<th></th>").text("Total"));
                            tableHead.append(headerRow);

                            var groupedData = {};
                            data.forEach(function (item) {
                                if (!groupedData[item.TaskId]) {
                                    groupedData[item.TaskId] = {
                                        name: item.TaskName,
                                        spentTimeByDate: {},
                                        totalSpentMinutes: 0
                                    };
                                }

                                var spentMinutes = (item.SpentHours || 0) * 60 + (item.SpentMinutes || 0);
                                groupedData[item.TaskId].spentTimeByDate[item.SpentDate] = spentMinutes;
                                groupedData[item.TaskId].totalSpentMinutes += spentMinutes;
                            });

                            groupedData = Object.fromEntries(Object.entries(groupedData).filter(([taskId, taskData]) => {
                                return taskData.totalSpentMinutes > 0;
                            }));

                            Object.keys(groupedData).forEach(function (taskId) {
                                var taskData = groupedData[taskId];
                                var row = $("<tr></tr>");

                                row.append($("<td></td>").text(taskData.name));

                                segments.forEach(function (segment) {
                                    var segmentTotal = 0;
                                    Object.keys(taskData.spentTimeByDate).forEach(function (date) {
                                        var dateObj = new Date(date);
                                        if (dateObj >= segment.start && dateObj <= segment.end) {
                                            segmentTotal += taskData.spentTimeByDate[date];
                                        }
                                    });

                                    var formattedTime = segmentTotal ? formatMinutesToHHMM(segmentTotal) : "-";
                                    row.append($("<td></td>").text(formattedTime));
                                });

                                row.append($("<td></td>").text(formatMinutesToHHMM(taskData.totalSpentMinutes)));
                                tableBody.append(row);
                            });

                            var totalRow = $("<tr></tr>").addClass('totalRow');
                            totalRow.append($("<th></th>").text("Total"));

                            var grandTotalMinutes = 0;
                            segments.forEach(function (segment) {
                                var dateSegmentTotal = 0;
                                Object.keys(groupedData).forEach(function (taskId) {
                                    var taskData = groupedData[taskId];
                                    Object.keys(taskData.spentTimeByDate).forEach(function (date) {
                                        var dateObj = new Date(date);
                                        if (dateObj >= segment.start && dateObj <= segment.end) {
                                            dateSegmentTotal += taskData.spentTimeByDate[date];
                                        }
                                    });
                                });

                                totalRow.append($("<td class='totalRow'></td>").text(dateSegmentTotal ? formatMinutesToHHMM(dateSegmentTotal) : "-"));
                                grandTotalMinutes += dateSegmentTotal;
                            });

                            totalRow.append($("<td class='totalRow'></td>").text(formatMinutesToHHMM(grandTotalMinutes)));
                            tableFoot.append(totalRow);


                        }

                        function formatMinutesToHHMM(totalMinutes) {
                            var hours = Math.floor(totalMinutes / 60);
                            var minutes = totalMinutes % 60;
                            return `${hours.toString().padStart(2, '0')}:${minutes.toString().padStart(2, '0')}`;
                        }

                        // ✅ Function to Format Date Ranges for Weekly Segments
                        function formatDateRange(start, end) {
                            var startDate = start.toLocaleDateString('en-US', { month: 'short', day: 'numeric' });
                            var endDate = end.toLocaleDateString('en-US', { month: 'short', day: 'numeric' });
                            return startDate + " - " + endDate;
                        }


                        // Fetch data when the "Run Report" button is clicked
                        function fetchData() {

                            if (!validateEmployeeSelection()) {
                                return; // Stop further execution if validation fails
                            }

                            var employeeId = $('#EmployeeId').val(); // Array of employee IDs
                            var From = $('#From').val();
                            var To = $('#To').val();
                            var showById = $('#ShowById').val();
                            var selectedProjectIds = $('#SelectedProjectIds').val();
                            var selectedEmployeeIds = $('#SelectedEmployeeIds').val();

                            var selectedTaskIds = $('#SelectedTaskIds').val();
                            var hours = $('#HoursId').val();
                            var isHide = $('#IsHideEmpty').val();


                            // Clear previous data
                            $("#timesheet-report-table tbody").empty();
                            $("#timesheet-report-table thead").empty();
                            $("#timesheet-report-table tfoot").empty();

                            var aggregatedData = [];
                            var totalRequests = 0;
                            var completedRequests = 0;

                            // Fetch data based on employees or all employees
                            if (selectedTaskIds.includes("0")) {
                                // Fetch all employees' data
                                var projectIdsString = selectedProjectIds.join(',');
                                var employeeIdsString = selectedEmployeeIds.join(',');

                                $.ajax({
                                    url: "@(Url.Action("GetAllTasksData", "Reports"))",
                                    type: "GET",
                                    data: { From: From, To: To, ShowById: showById, EmployeeIds: employeeIdsString, HoursId: hours, projectIds: projectIdsString, IsHideEmpty: isHide },
                                    success: function (data) {
                                        aggregatedData = data;

                                        updateTable(aggregatedData, From, To, showById); // Pass date range and showById to updateTable
                                    },
                                    error: function (xhr, status, error) {
                                        console.error('Error fetching data for all employees:', error);
                                    }
                                });
                            } else {
                                totalRequests = selectedTaskIds.length;
                                var employeeIdsString = selectedEmployeeIds.join(',');
                                selectedTaskIds.forEach(function (taskId) {
                                    $.ajax({
                                        url: "@(Url.Action("GetReportByTask", "Reports"))",
                                        type: "GET",
                                        data: { searchEmployeeId: employeeIdsString, From: From, To: To, ShowById: showById, HoursId: hours, TaskId: taskId, IsHideEmpty: isHide },
                                        success: function (data) {

                                            aggregatedData = aggregatedData.concat(data);
                                            completedRequests++;
                                            if (completedRequests === totalRequests) {
                                               
                                                updateTable(aggregatedData, From, To, showById); // Pass date range and showById to updateTable
                                            }
                                        },
                                        error: function (xhr, status, error) {
                                            console.error('Error fetching data for employee ID ' + employeeId + ':', error);
                                            completedRequests++;
                                            if (completedRequests === totalRequests) {
                                                updateTable(aggregatedData, From, To, showById); // Pass date range and showById to updateTable
                                            }
                                        }
                                    });
                                });
                            }
                        }

                        //if change then validation text is gone
                        $('#SelectedProjectIds').change(function () {
                            $('#Project-error').html('').css('color', '');
                        });

                        $('#SelectedTaskIds').change(function () {
                            $('#Task-error').html('').css('color', '');
                        });

                        $('#From').change(function () {
                            $('#From-error').html('').css('color', '');

                        });

                        $('#To').change(function () {
                            $('#To-error').html('').css('color', '');
                        });


                        $('#SelectedProjectIds').on('change', function () {
                            var projectIds = $(this).val();  // Get the selected project IDs

                            // Validate project selection
                            if (projectIds && projectIds.length > 0) {
                                $('#projectError').text('');  // Clear error message if projects are selected

                                // Join project IDs into a comma-separated string
                                var projectIdsString = projectIds.join(',');

                                // Make GET request to fetch tasks based on selected project IDs
                                $.ajax({
                                    url: '@Url.Action("GetTasksFromProjects", "Reports")',  // Your controller method to fetch tasks
                                    type: 'GET',
                                    data: { projectIds: projectIdsString },  // Send selected project IDs as query parameters
                                    success: function (tasks) {
            
                                        var taskMultiSelect = $("#SelectedTaskIds").data("kendoMultiSelect");  // Get Kendo MultiSelect instance

                                        // Check if tasks were returned
                                        if (tasks && tasks.length > 0) {
                                            // Clear existing options
                                            taskMultiSelect.dataSource.data([]);  // Clear data source

                                            // Ensure the correct fields are set for Kendo MultiSelect
                                            taskMultiSelect.setOptions({
                                                dataTextField: "TaskName",  // Ensure this matches the field returned by the server
                                                dataValueField: "TaskId"    // Ensure this matches the field returned by the server
                                            });

                                            // Map the tasks to ensure correct TaskId and TaskName are used
                                            var taskData = tasks.map(function (task) {
                                             
                                                return {
                                                    TaskId: task.TaskId,      // Make sure TaskId exists in the response
                                                    TaskName: task.TaskName   // Make sure TaskName exists in the response
                                                };
                                            });

                                            // // Add the "All" option
                                            // taskData.unshift({ TaskId: 0, TaskName: 'All' });


                                            // Bind the new data to the Kendo MultiSelect
                                            taskMultiSelect.setDataSource(new kendo.data.DataSource({
                                                data: taskData
                                            }));

                                            // Preselect the "All" option
                                            taskMultiSelect.value([0]);  // Select the "All" option with ID -1

                                            taskMultiSelect.refresh();  // Refresh the dropdown
                                        } else {
                                            // If no tasks available, clear the MultiSelect and display a message
                                            taskMultiSelect.setOptions({
                                                dataTextField: "TaskName",
                                                dataValueField: "TaskId"
                                            });

                                            taskMultiSelect.setDataSource(new kendo.data.DataSource({
                                                data: [{ TaskId: '', TaskName: 'No tasks available' }]
                                            }));

                                            taskMultiSelect.refresh();  // Refresh the dropdown
                                        }
                                    },
                                    error: function (xhr, status, error) {
                                        console.error('Error fetching tasks:', error);
                                        $('#employeeError').text('Failed to fetch tasks for the selected project(s).');
                                    }
                                });



                            } else {
                                $('#projectError').text('Please select a valid project.');  // Show error message if no projects are selected
                                $('#SelectedTaskIds').empty().append($('<option></option>').val('').text('Select a project first'));
                            }


                        });





                  

                        // Attach click event to search button
                        $('#search-brands').click(fetchData);

                        // Call fetchData initially to populate the table
                    });


                    function exportReportToExcel() {
                       
                        // Create an Excel workbook
                        var workbook = new ExcelJS.Workbook();
                        var worksheet = workbook.addWorksheet("Report");

                        // Get the data from the table
                        var tableData = [];
                        var headerRow = [];
                        $("#timesheet-report-table thead th").each(function () {
                            headerRow.push($(this).text());
                        });
                        tableData.push(headerRow);

                        $("#timesheet-report-table tbody tr").each(function () {
                            var row = [];
                            $(this).find("td").each(function () {
                                row.push($(this).text());
                            });
                            tableData.push(row);
                        });

                        // Add the total row from the tfoot section
                        var totalRow = [];
                        totalRow.push("Total"); // Add "Total" to the first cell
                        $("#timesheet-report-table tfoot tr td").each(function () {
                            totalRow.push($(this).text());
                        });
                        tableData.push(totalRow);

                        // Add data to the worksheet
                        tableData.forEach(function (row, rowIndex) {
                            var worksheetRow = worksheet.addRow(row);
                          
                            if (worksheetRow.cells) {
                                worksheetRow.cells.forEach(function (cell) {
                                    cell.numFmt = "@@";
                                });
                            } else {
                                console.log("worksheetRow.cells is undefined!");
                            }
                        });


                      

                        // Format cells and rows
                        worksheet.getRow(1).font = { bold: true }; // Make the header row bold

                        // Set the background color of data cells in the first row to blue gray
                        for (var i = 1; i < tableData[0].length+1; i++) {
                            worksheet.getCell(1, i).fill = { type: 'pattern', pattern: 'solid', fgColor: { argb: 'C7C5B8' } };
                        }

                        // Set the background color of the last column to light blue
                        // for (var i = 1; i <= tableData.length; i++) {
                        //     worksheet.getCell(i, tableData[0].length).fill = { type: 'pattern', pattern: 'solid', fgColor: { argb: 'EEF2F8' } };
                        // }

                        // Make the first column bold
                        for (var i = 1; i <= tableData.length; i++) {
                            worksheet.getCell(i, 1).font = { bold: true };
                        }

                        // Make the last column bold
                        for (var i = 1; i <= tableData.length; i++) {
                            worksheet.getCell(i, tableData[0].length).font = { bold: true };
                        }

                        // Make the total row bold
                        worksheet.getRow(tableData.length).font = { bold: true };

                        worksheet.columns.forEach(function (column, index) {
                            if (index === 0) { // First column
                                column.width = 20; // Set the width of the first column to 20
                            } else {
                                column.width = 10; // Set the width of other columns to 10
                            }
                        });



                        // Save the workbook to a blob
                        workbook.xlsx.writeBuffer().then(function (buffer) {
                            var blob = new Blob([buffer], { type: "application/vnd.openxmlformats-officedocument.spreadsheetml.sheet" });

                            // Create a link to download the blob
                            var link = document.createElement("a");
                            link.href = URL.createObjectURL(blob);
                            link.download = "report.xlsx";
                            link.click();
                        });
                    }
                    $("#export-to-excel").click(exportReportToExcel);


                    // Handle button click event to remove focus
                    $(document).on('click', 'button', function () {
                        $(this).blur();
                    });

                </script>

            </div>
        </div>
    </div>

    <nop-alert asp-alert-id="deleteSelectedFailed" />
    <nop-alert asp-alert-id="nothingSelectedAlert" />
</section>


<style>
    .table-wrapper {
        width: 100%;
        overflow-x: auto; /* Enables horizontal scroll only when content overflows */
        position: relative;
    }

    #timesheet-report-table {
        border-collapse: separate;
        border-spacing: 0;
        width: 100%;
        position: relative; /* Ensure the table is positioned relatively to handle sticky positioning */
    }

        /* Ensure cells do not wrap text */
        #timesheet-report-table th,
        #timesheet-report-table td {
            padding: 10px;
            text-align: left;
        }

        /* Fix the first column */
        #timesheet-report-table thead th:first-child,
        #timesheet-report-table tbody td:first-child,
        #timesheet-report-table tfoot th:first-child,
        #timesheet-report-table tfoot td:first-child {
            position: sticky;
            left: 0;
            background-color: #ffffff; /* White background for better visibility */
            z-index: 2; /* Ensure it stays on top of other columns */
        }

        /* Fix the last column */
        #timesheet-report-table thead th:last-child,
        #timesheet-report-table tbody td:last-child,
        #timesheet-report-table tfoot th:last-child,
        #timesheet-report-table tfoot td:last-child {
            position: sticky;
            right: 0;
            background-color: #ffffff; /* White background for better visibility */
            z-index: 2; /* Ensure it stays on top of other columns */
        }

        /* Style for task name column */
        #timesheet-report-table th:nth-child(1),
        #timesheet-report-table td:nth-child(1) {
            max-width: 200px; 
            min-width: 150px; /* Set a fixed width for the task name column */
            overflow: hidden;
            text-overflow: ellipsis;
        }

        #timesheet-report-table td:nth-child(1) {
            overflow-wrap: break-word; /* Allow wrapping of long text */
        }

        #timesheet-report-table th {
            white-space: nowrap;
        }

    /* Style for total row cells */
    .totalRow {
        font-weight: bold; /* Make the text bold */
        text-align: right; /* Align text to the right for numerical values */
        padding: 10px;
        border-top: 2px solid #ddd; /* Top border to separate total row from the data rows */
    }

    .hide-before {
        display: none;
    }

        .hide-before table:not(:empty) {
            display: block;
        }

</style>
