@using App.Web.Areas.Admin.Models.Extension.UpdateTemplateQuestion
@model UpdateTemplateQuestionModel

@{
    const string hideInfoBlockAttributeName = "UpdateTemplateQuestionDetails.HideInfoBlock";
    var customer = await workContext.GetCurrentCustomerAsync();
    var hideInfoBlock = await genericAttributeService.GetAttributeAsync<bool>(customer, hideInfoBlockAttributeName);

    const string hideInfoBlockAttributeOption = "UpdateTemplateQuestionOptionDetails.HideInfoBlock";
    var hideInfoBlockOption = await genericAttributeService.GetAttributeAsync<bool>(customer, hideInfoBlockAttributeOption);
}

<input asp-for="Id" type="hidden" />
<input type="hidden" asp-for="UpdateTemplateId" value="@Model.UpdateTemplateId != 0 ? Model.UpdateTemplateId : (int?)ViewBag.UpdateTemplateId" />

<section class="content">
    <div class="container-fluid">
        <div class="form-horizontal">
            <nop-cards id="UpdateTemplateQuestion-item-cards">
                <nop-card asp-name="UpdateTemplateQuestion-item-info" asp-icon="fas fa-info" asp-title="@T("Admin.UpdateTemplateQuestion.Info")" asp-hide-block-attribute-name="@hideInfoBlockAttributeName" asp-hide="@hideInfoBlock">@await Html.PartialAsync("/Areas/Admin/Views/Extension/UpdateTemplate/_QuestionCreateOrUpdate.Info.cshtml", Model)</nop-card>
            </nop-cards>
            @if (await permissionService.AuthorizeAsync(SatyanamPermissionProvider.ManageUpdateQuestionOptionTemplate, PermissionAction.View))
            {
                <div id="question-option-grid-wrapper">
                    <nop-card asp-name="UpdateTemplateQuestionOption-item-cards" asp-icon="fas fa-address-book" asp-title="@T("Admin.UpdateTemplateQuestionOption.Info")" asp-hide-block-attribute-name="@hideInfoBlockAttributeOption" asp-hide="@hideInfoBlockOption">
                        @await Html.PartialAsync("/Areas/Admin/Views/Extension/UpdateTemplate/_CreateOrUpdateOption.cshtml", Model)
                    </nop-card>
                </div>
            }
        </div>
    </div>
</section>