@using App.Web.Areas.Admin.Models.Extension.UpdateTemplateQuestion
@model UpdateQuestionOptionModel

@{
    Layout = "_AdminPopupLayout";
 
    //page title
    ViewBag.PageTitle = T("Admin.UpdateQuestionOptionModel.Attributes.Values.EditValueDetails").Text;
    var formId = ViewBag.FormId ?? Context.Request.Query["formId"].ToString();
    var btnId = ViewBag.BtnId ?? Context.Request.Query["btnId"].ToString();
}
@if (ViewBag.RefreshPage == true)
{
    <script>
        try {
            var btn = window.opener.document.getElementById('@ViewBag.BtnId');
            if (btn) {
                btn.click();
            } else {
                console.log("Could not find button with ID: @ViewBag.BtnId");
            }
        } catch (e) {
            console.log("Error refreshing parent:", e);
        }
        window.close();
    </script>
}


<form asp-controller="UpdateTemplate" asp-action="UpdateQuestionAttributeValueEditPopup"
      asp-route-updateTemplateQuestionId="@Model.UpdateTemplateQuestionId"
      asp-route-btnId="@Context.Request.Query["btnId"]"
      asp-route-formId="@Context.Request.Query["formId"]">
    <input type="hidden" asp-for="Id" />
    <input type="hidden" asp-for="UpdateTemplateQuestionId" />
    <input type="hidden" name="formId" value="@Context.Request.Query["formId"]" />
    <input type="hidden" name="btnId" value="@Context.Request.Query["btnId"]" />
    <div class="content-header clearfix">
        <h1 class="float-left">
            @T("Admin.UpdateQuestionOptionModel.Attributes.Values.EditValueDetails")
        </h1>
        @if (await permissionService.AuthorizeAsync(SatyanamPermissionProvider.ManageUpdateQuestionOptionTemplate, PermissionAction.Edit))
        {
            <div class="float-right">
                <button type="submit" name="save" class="btn btn-primary">
                    <i class="far fa-save"></i>
                    @T("Admin.Common.Save")
                </button>
            </div>
        }
    </div>
    @await Html.PartialAsync("/Areas/Admin/Views/Extension/UpdateTemplate/_CreateOrUpdateQuestionOptionAttributeValue.cshtml", Model)
</form>