@using Nop.Web.Areas.Admin.Models.Customers;
@model TraineeSearchModel

@{
    //page title
    ViewBag.Title = T("Admin.Customers.TraineeDetails").Text;
    //active menu item (system name)
    NopHtml.SetActiveMenuItemSystemName("Trainee Details");
}

@{
    const string hideSearchBlockAttributeName = "CustomerListPage.HideSearchBlock";
    var hideSearchBlock = await genericAttributeService.GetAttributeAsync<bool>(await workContext.GetCurrentCustomerAsync(), hideSearchBlockAttributeName);
}

<nop-antiforgery-token />

<form asp-controller="Customer" asp-action="TraineeList" method="post">
    <div class="content-header clearfix">
        <h1 class="float-left">
            @T("Admin.Customers.TraineeDetails")
        </h1>
        <div class="float-right">
            &nbsp;
            @await Component.InvokeAsync("AdminWidget", new { widgetZone = AdminWidgetZones.OnlineCustomerListButtons })
        </div>
        <div class="float-right">
            <a asp-action="Createtrainee" class="btn btn-primary">
                <i class="fas fa-plus-square"></i>
                @T("Admin.Common.AddNew")
            </a>
            <button type="button" id="delete-selected" class="btn btn-danger">
                <i class="far fa-trash-alt"></i>
                @T("Admin.Common.Delete.Selected")
            </button>
            <nop-action-confirmation asp-button-id="delete-selected" />
        </div>
    </div>
    <section class="content">
        <div class="form-horizontal">
            <div class="cards-group">
                <div class="card card-default card-search">
                    <div class="card-body">
                        <div class="row search-row @(!hideSearchBlock ? "opened" : "")" data-hideAttribute="@hideSearchBlockAttributeName">
                            <div class="search-text">@T("Admin.Common.Search")</div>
                            <div class="icon-search"><i class="fas fa-search" aria-hidden="true"></i></div>
                            <div class="icon-collapse"><i class="far fa-angle-@(!hideSearchBlock ? "up" : "down")" aria-hidden="true"></i></div>
                        </div>
                        <div class="search-body @(hideSearchBlock ? "closed" : "")">
                            <div class="row">
                                <div class="col-md-5">
                                    <div class="form-group row">
                                        <div class="col-md-4">
                                            <nop-label asp-for="FirstName" />
                                        </div>
                                        <div class="col-md-8">
                                            <nop-editor asp-for="FirstName" />
                                        </div>
                                    </div>
                                    <div class="form-group row">
                                        <div class="col-md-4">
                                            <nop-label asp-for="Email" />
                                        </div>
                                        <div class="col-md-8">
                                            <nop-editor asp-for="Email" />
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-5">
                                    <div class="form-group row">
                                        <div class="col-md-4">
                                            <nop-label asp-for="Degree" />
                                        </div>
                                        <div class="col-md-8">
                                            <nop-editor asp-for="Degree" />
                                        </div>
                                    </div>
                                    <div class="form-group row">
                                        <div class="col-md-4">
                                            <nop-label asp-for="MobileNo" />
                                        </div>
                                        <div class="col-md-8">
                                            <nop-editor asp-for="MobileNo" />
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="text-center col-12">
                                    <button type="button" id="search-trainee" class="btn btn-primary btn-search">
                                        <i class="fas fa-search"></i>
                                        @T("Admin.Common.Search")
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="card card-default">
                    <div class="card-body">
                        @await Html.PartialAsync("Table", new DataTablesModel
                        {
                        Name = "trainee-grid",
                        UrlRead = new DataUrl("TraineeList", "Customer", null),
                        SearchButtonId = "search-trainee",
                        Length = Model.PageSize,
                        LengthMenu = Model.AvailablePageSizes,
                        Filters = new List<FilterParameter>
                        {
                        new FilterParameter(nameof(Model.Email)),
                        new FilterParameter(nameof(Model.FirstName)),
                        new FilterParameter(nameof(Model.MobileNo)),
                        new FilterParameter(nameof(Model.Degree)),
                        },

                        ColumnCollection = new List<ColumnProperty>
                        {
                        new ColumnProperty(nameof(TraineeModel.Id))
                        {
                        IsMasterCheckBox = true,
                        Render = new RenderCheckBox("checkbox_trainee"),
                        ClassName =  NopColumnClassDefaults.CenterAll,
                        Width = "50"
                        },
                        new ColumnProperty(nameof(TraineeModel.FirstName))
                        {
                        Title = T("Admin.Customers.trainee.Fields.FirstName").Text,
                        Width = "100",
                        },
                        new ColumnProperty(nameof(TraineeModel.LastName))
                        {
                        Title = T("Admin.Customers.trainee.Fields.LastName").Text,
                        Width = "100"
                        },
                        new ColumnProperty(nameof(TraineeModel.Email))
                        {
                        Title = T("Admin.Customers.trainee.Fields.Email").Text,
                        Width = "100"
                        },
                        new ColumnProperty(nameof(TraineeModel.Degree))
                        {
                        Title = T("Admin.Customers.trainee.Fields.Degree").Text,
                        Width = "200",
                        },
                        new ColumnProperty(nameof(TraineeModel.Percentage))
                        {
                        Title = T("Admin.Customers.trainee.Fields.Percentage").Text,
                        Width = "100"
                        },
                        new ColumnProperty(nameof(TraineeModel.MobileNumber))
                        {
                        Title = T("Admin.Customers.trainee.Fields.MobileNumber").Text,
                        Width = "100"
                        },
                        new ColumnProperty(nameof(TraineeModel.CreatedOnUTC))
                        {
                        Title = T("Admin.Trainee.CreatedOnUTC").Text,
                        Width = "100",
                        Render = new RenderDate()
                        },
                        //new ColumnProperty(nameof(TraineeModel.Id))
                        //{
                        //    Title = T("Admin.Common.View").Text,
                        //    Width = "100",
                        //    Render = new RenderLink(new DataUrl("~/Admin/Customer/TraineeView", nameof(TraineeModel.Id)))
                        //},
                        new ColumnProperty(nameof(TraineeModel.Id))
                        {
                        Title = T("Admin.Common.View").Text,
                        Width = "100",
                        ClassName =  NopColumnClassDefaults.Button,
                        Render = new RenderButtonEdit(new DataUrl("TraineeView")),
                        }
                        }
                        })

                        <script>
                            $(document).ready(function () {
                                $('#delete-selected-action-confirmation-submit-button').bind('click', function () {
                                    var postData = {
                                        selectedIds: selectedIds
                                    };
                                    addAntiForgeryToken(postData);
                                    $.ajax({
                                        cache: false,
                                        type: "POST",
                                        url: "@(Url.Action("traineeDeleteSelected", "Customer"))",
                                        data: postData,
                                        error: function (jqXHR, textStatus, errorThrown) {
                                            showAlert('deleteSelectedFailed', errorThrown);
                                        },
                                        complete: function (jqXHR, textStatus) {
                                            if (jqXHR.status === 204) {
                                                showAlert('nothingSelectedAlert', '@T("Admin.Common.Alert.NothingSelected")');
                                                return;
                                            }
                                            showAlert("successdelete", "@T("Admin.Common.Alert.deleted")");
                                            updateTable('#trainee-grid');
                                        }
                                    });
                                    $('#delete-selected-action-confirmation').modal('toggle');
                                    return false;
                                });
                            });

                        </script>
                        <nop-alert asp-alert-id="deleteSelectedFailed" />
                        <nop-alert asp-alert-id="nothingSelectedAlert" />
                        <nop-alert asp-alert-id="successdelete" />

                    </div>
                </div>
            </div>
        </div>
    </section>
</form>

