@model TraineeModel

@using Nop.Web.Areas.Admin.Models.Customers;

@{
    //page title
    ViewBag.Title = T("Admin.Customer.Trainee.TraineeViewDetails").Text;
    //active menu item (system name)
    NopHtml.SetActiveMenuItemSystemName("Trainee");
}

<style>
    .modal-header
    {
        display:block;
    }

    .form-control {
        width: 98%;
    }

    .form-horizontal .k-autocomplete, .form-horizontal .k-combobox, .form-horizontal .k-numerictextbox, .form-horizontal .k-dropdown, .form-horizontal .k-selectbox, .form-horizontal .k-textbox, .form-horizontal .k-colorpicker, .form-horizontal .k-timepicker, .form-horizontal .k-datetimepicker, .form-horizontal .k-datepicker {
        width: 331px !important;
        max-width: 100%;
        border-radius: 0;
        border-color: #d2d6de;
        height: 38px;
    }
</style>

<form asp-controller="Customer" asp-action="TraineeView" method="post" enctype="multipart/form-data">
    <div class="content-header clearfix">
        <h1 class="float-left">
            @T("Admin.Customer.Trainee.ViewDetails") - @Model.FirstName @Model.LastName
            <small>
                <i class="fa fa-arrow-circle-left"></i>
                <a asp-action="TraineeList">@T("Admin.Customer.Trainee.BackToList")</a>
            </small>
        </h1>
        <div class="float-right">
            <button type="submit" name="save" class="btn btn-primary">
                <i class="far fa-save"></i>
                @T("Admin.Common.Save")
            </button>
            @await Component.InvokeAsync(typeof(AdminWidgetViewComponent), new { widgetZone = AdminWidgetZones.CustomerDetailsButtons, additionalData = Model })
        </div>
        <div class="float-right">
            <div class="btn-group">
                <button type="button" name="sendInterviewEmail" class="btn bg-olive" data-toggle="modal" data-target="#sendInterviewEmail-window">
                    <i class="fa fa-at"></i>
                    @T("Admin.Trainee.SendEmail")
                </button>
            </div>
        </div>
    </div>

    <section class="content">
        <div class="form-horizontal">
            <div class="cards-group">
                <div class="card card-default card-search">
                    <div class="panel-body">
                        <div class="search-body">
                            <div class="row">
                                <div class="col-md-5">
                                    <div class="form-group row">
                                        <div class="col-md-4">
                                            <nop-label asp-for="Gender" />
                                        </div>
                                        <div class="col-md-8">
                                            <nop-editor asp-for="Gender" />
                                        </div>
                                    </div>
                                    <div class="form-group row">
                                        <div class="col-md-4">
                                            <nop-label asp-for="FirstName" />
                                        </div>
                                        <div class="col-md-8">
                                            <nop-editor asp-for="FirstName" />
                                        </div>
                                    </div>
                                    <div class="form-group row">
                                        <div class="col-md-4">
                                            <nop-label asp-for="LastName" />
                                        </div>
                                        <div class="col-md-8">
                                            <nop-editor asp-for="LastName" />
                                        </div>
                                    </div>
                                    <div class="form-group row">
                                        <div class="col-md-4">
                                            <nop-label asp-for="DateOfBirth" />
                                        </div>
                                        <div class="col-md-8">
                                            <nop-editor asp-for="DateOfBirth" />
                                        </div>
                                    </div>
                                    <div class="form-group row">
                                        <div class="col-md-4">
                                            <nop-label asp-for="Email" />
                                        </div>
                                        <div class="col-md-8">
                                            <nop-editor asp-for="Email" />
                                        </div>
                                    </div>
                                    <div class="form-group row">
                                        <div class="col-md-4">
                                            <nop-label asp-for="CollegeName" />
                                        </div>
                                        <div class="col-md-8">
                                            <nop-editor asp-for="CollegeName" />
                                        </div>
                                    </div>
                                    <div class="form-group row">
                                        <div class="col-md-4">
                                            <nop-label asp-for="Degree" />
                                        </div>
                                        <div class="col-md-8">
                                            <nop-editor asp-for="Degree" />
                                        </div>
                                    </div>
                                    <div class="form-group row">
                                        <div class="col-md-4">
                                            <nop-label asp-for="CompletedYear" />
                                        </div>
                                        <div class="col-md-8">
                                            <nop-editor asp-for="CompletedYear" />
                                        </div>
                                    </div>
                                    <div class="form-group row">
                                        <div class="col-md-4">
                                            <nop-label asp-for="Percentage" />
                                        </div>
                                        <div class="col-md-8">
                                            <nop-editor asp-for="Percentage" />
                                        </div>
                                    </div>
                                    <div class="form-group row">
                                        <div class="col-md-4">
                                            <nop-label asp-for="ResumeUrl" />
                                        </div>
                                        <div class="col-md-8">
                                            @if (Model.ResumeUrl > 0)
                                            {
                                                <a href="@Url.Action("Downloadresume", "Customer", new { id = Model.ResumeUrl })"> @T("Trainee.Admin.ResumeDownload") </a>
                                            }
                                            <div class="form-group row">
                                                <div class="col-md-8">
                                                    <div class="file-upload">
                                                        <div class="outer">
                                                            <div class="upload_button_outer clearfix">
                                                                <div class="uploadbtn">
                                                                    <input type="file" id="file" name="file" />
                                                                </div>
                                                                <div class="filename"></div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="form-group row">
                                        <div class="col-md-4">
                                            <nop-label asp-for="Skill" />
                                        </div>
                                        <div class="col-md-8">
                                            <nop-editor asp-for="Skill" />
                                        </div>
                                    </div>
                                    <div class="form-group row">
                                        <div class="col-md-4">
                                            <nop-label asp-for="MobileNumber" />
                                        </div>
                                        <div class="col-md-8">
                                            <nop-editor asp-for="MobileNumber" />
                                        </div>
                                    </div>
                                    <div class="form-group row">
                                        <div class="col-md-4">
                                            <nop-label asp-for="StreetAddress" />
                                        </div>
                                        <div class="col-md-8">
                                            <nop-editor asp-for="StreetAddress" />
                                        </div>
                                    </div>
                                    <div class="form-group row">
                                        <div class="col-md-4">
                                            <nop-label asp-for="StreetAddress2" />
                                        </div>
                                        <div class="col-md-8">
                                            <nop-editor asp-for="StreetAddress2" />
                                        </div>
                                    </div>
                                    <div class="form-group row">
                                        <div class="col-md-4">
                                            <nop-label asp-for="ZipPostalCode" />
                                        </div>
                                        <div class="col-md-8">
                                            <nop-editor asp-for="ZipPostalCode" />
                                        </div>
                                    </div>
                                    <div class="form-group row">
                                        <div class="col-md-4">
                                            <nop-label asp-for="City" />
                                        </div>
                                        <div class="col-md-8">
                                            <nop-editor asp-for="City" />
                                        </div>
                                    </div>
                                    <div class="form-group row">
                                        <div class="col-md-4">
                                            <nop-label asp-for="AboutYourSelf" />
                                        </div>
                                        <div class="col-md-8">
                                            <nop-editor asp-for="AboutYourSelf" />
                                        </div>
                                    </div>
                                    <div class="form-group row">
                                        <div class="col-md-4">
                                            <nop-label asp-for="CreatedOnUTC" />
                                        </div>
                                        <div class="col-md-8">
                                            <nop-editor asp-for="CreatedOnUTC" />
                                        </div>
                                    </div>

                                </div>
                                
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</form>


@*import products form*@
<div id="sendInterviewEmail-window" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="sendInterviewEmail-window-title">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="sendInterviewEmail-window-title">@T("Admin.Trainee.SendInterviewMail")</h4>
            </div>
            <form asp-controller="Customer" asp-action="TraineeIntMail" method="post">
                    <input type="hidden" asp-for="Id" id="SendEmail_Id" />
                    <div class="form-horizontal">
                        <div class="modal-body">
                            <div class="form-group row ">
                                <div class="col-md-4">
                                    <nop-label asp-for="DateForInterview" />
                                </div>
                                <div class="col-md-8">
                                    <nop-editor asp-for="DateForInterview" />
                                </div>
                            </div>
                            <div class="form-group row">
                                <div class="col-md-4">
                                    <nop-label asp-for="PersonInCharge" />
                                </div>
                                <div class="col-md-8">
                                    <nop-editor asp-for="PersonInCharge" />
                                </div>
                            </div>
                            <div class="form-group row">
                                <div class="col-md-4">
                                    <nop-label asp-for="Venue" />
                                </div>
                                <div class="col-md-8">
                                    <nop-textarea asp-for="Venue" />
                                </div>
                            </div>
                        </div>
                        <div class="modal-footer">
                            <button type="submit" class="btn btn-primary">
                                @T("Admin.Trainee.SendEmail")
                            </button>
                        </div>
                    </div>
                </form>
        </div>
    </div>
</div>
