@model ProjectIntegrationModel

@{
    ViewBag.PageTitle = T("Admin.System.ProjectIntegration.EditProjectIntegrationDetails").Text;
    NopHtml.SetActiveMenuItemSystemName("Project Integration");
}

<form asp-controller="ProjectIntegration" asp-action="Edit" method="post">
    <div class="content-header clearfix">
        <h1 class="float-left">
            @T("Admin.System.ProjectIntegration.EditProjectIntegrationDetails")
            <small>
                <i class="fas fa-arrow-circle-left"></i>
                <a asp-action="List" asp-controller="ProjectIntegration">@T("Admin.System.ProjectIntegration.BackToList")</a>
            </small>
        </h1>
        <div class="float-right">
            @if (await permissionService.AuthorizeAsync(StandardPermissionProvider.ManageProjectIntegration, PermissionAction.Edit))
            {
                <button type="submit" name="save" class="btn btn-primary">
                    <i class="far fa-save"></i>
                    @T("Admin.Common.Save")
                </button>
                <button type="submit" name="save-continue" class="btn btn-primary">
                    <i class="far fa-save"></i>
                    @T("Admin.Common.SaveContinue")
                </button>
            }
            @if (await permissionService.AuthorizeAsync(StandardPermissionProvider.ManageProjectIntegration, PermissionAction.Delete))
            {
                <span id="project-integration-delete" class="btn btn-danger">
                    <i class="far fa-trash-alt"></i>
                    @T("Admin.Common.Delete")
                </span>
            }
        </div>
    </div>
    @await Html.PartialAsync("/Areas/Admin/Views/Extension/ProjectIntegration/_CreateOrUpdate.cshtml", Model)
</form>
<nop-delete-confirmation asp-model-id="@Model.Id" asp-button-id="project-integration-delete" />