@using App.Services.Common
@using App.Web.Framework.Models.DataTables
@using Satyanam.Nop.Plugin.SatyanamCRM.Models.Campaings
@inject IGenericAttributeService GenericAttributeService
@inject IWorkContext WorkContext

@model CampaingsSearchModel
@{
    Layout = "_AdminLayout";
}
@{
    //page title
    ViewBag.PageTitle = T("Plugin.SatyanamCRM.Campaings").Text;
    //active menu item (system name)
    NopHtml.SetActiveMenuItemSystemName("Campaings");

    const string hideSearchBlockAttributeName = "campaingsListPage.HideSearchBlock";
    var hideSearchBlock = await GenericAttributeService.GetAttributeAsync<bool>(await workContext.GetCurrentCustomerAsync(), hideSearchBlockAttributeName);
}
<div class="content-header clearfix">
    <h1 class="float-left">
        @T("Plugin.SatyanamCRM.Campaings")
    </h1>
    <div class="float-right">
        @if (await permissionService.AuthorizeAsync(SatyanamPermissionProvider.ManageCampaigns, PermissionAction.Add))
        {
            <a asp-action="Create" class="btn btn-primary">
                <i class="fas fa-plus-square"></i>
                @T("Plugin.SatyanamCRM.Campaings.AddNew")
            </a>
        }
        @if (await permissionService.AuthorizeAsync(SatyanamPermissionProvider.ManageCampaigns, PermissionAction.Delete))
        {
            <button type="button" id="delete-selected" class="btn btn-danger">
                <i class="far fa-trash-alt"></i>
                @T("Admin.Common.Delete.Selected")
            </button>
            <nop-action-confirmation asp-button-id="delete-selected" />
        }
    </div>
</div>

<section class="content">
    <div class="container-fluid">
    <div class="form-horizontal">
        <div class="cards-group">
				<div class="card card-default card-search">
					<div class="card-body">
						 <div class="row search-row @(!hideSearchBlock ? "opened" : "")" data-hideAttribute="@hideSearchBlockAttributeName">
							<div class="search-text">@T("Admin.Common.Search")</div>
							<div class="icon-search"><i class="fas fa-search" aria-hidden="true"></i></div>
							<div class="icon-collapse"><i class="far fa-angle-@(!hideSearchBlock ? "up" : "down")" aria-hidden="true"></i></div>
						</div> 

						<div class="search-body @(hideSearchBlock ? "closed" : "")">
							 <div class="row">
								<div class="col-md-6">
									<div class="form-group row">
										<div class="col-md-4">
											<nop-label asp-for="Name" />
										</div>
										<div class="col-md-8">
											<nop-editor asp-for="Name" />
										</div>
									</div>
								</div>
                                <div class="col-md-6">
                                    <div class="form-group row">
                                        <div class="col-md-4">
                                            <nop-label asp-for="StatusId" />
                                        </div>
                                        <div class="col-md-8">
                                            <nop-select asp-for="StatusId" asp-items="Model.Status" />
                                        </div>
                                    </div>
                                </div>
							</div>
							<div class="row">
								<div class="text-center col-12">
                                    <button type="button" id="search-campaings" class="btn btn-primary btn-search">
										<i class="fas fa-search"></i>
										@T("Admin.Common.Search")
									</button>
								</div>
							</div>
						</div>
					</div>
				</div>

            <div class="card card-default">
                <div class="card-body">
                    @{
                        var gridModel = new DataTablesModel
                        {
                            Name = "campaings-grid",
                            UrlRead = new DataUrl("List", "Campaings", null),
                            SearchButtonId = "search-campaings",
                            Length = Model.PageSize,
                            LengthMenu = Model.AvailablePageSizes,
                            Filters = new List<FilterParameter>
                            {
                                new FilterParameter(nameof(Model.Name)),
                                new FilterParameter(nameof(Model.StatusId))
                            },
                        };
                        gridModel.ColumnCollection.Add(new ColumnProperty(nameof(CampaingsModel.Id))
                        {
                            IsMasterCheckBox = true,
                            Render = new RenderCheckBox("checkbox_campaings"),
                            ClassName = NopColumnClassDefaults.CenterAll,
                            Width = "50"
                        });
                        gridModel.ColumnCollection.Add(new ColumnProperty(nameof(CampaingsModel.Name))
                        {
                            Title = T("Plugin.SatyanamCRM.Campaings.Fields.Name").Text
                        });
                        gridModel.ColumnCollection.Add(new ColumnProperty(nameof(CampaingsModel.StatusName))
                        {
                            Title = T("Plugin.SatyanamCRM.Campaings.Fields.StatusName").Text
                        });
                        gridModel.ColumnCollection.Add(new ColumnProperty(nameof(CampaingsModel.TotalLead))
                        {
                            Title = T("Plugin.SatyanamCRM.Campaings.Fields.TotalLead").Text
                        });
                        gridModel.ColumnCollection.Add(new ColumnProperty(nameof(CampaingsModel.TotalOpens))
                        {
                            Title = T("Plugin.SatyanamCRM.Campaings.Fields.TotalOpens").Text
                        });
                        gridModel.ColumnCollection.Add(new ColumnProperty(nameof(CampaingsModel.TotalClicks))
                        {
                            Title = T("Plugin.SatyanamCRM.Campaings.Fields.TotalClicks").Text
                        });
                        gridModel.ColumnCollection.Add(new ColumnProperty(nameof(CampaingsModel.UnsubscribedCount))
                        {
                            Title = T("Plugin.SatyanamCRM.Campaings.Fields.UnsubscribedCount").Text
                        });
                        gridModel.ColumnCollection.Add(new ColumnProperty(nameof(CampaingsModel.CreatedOnUtc))
                        {
                            Title = T("Plugin.SatyanamCRM.Campaings.Fields.CreatedOnUtc").Text,
                            Render = new RenderDate()
                        });
                        gridModel.ColumnCollection.Add(new ColumnProperty(nameof(CampaingsModel.UpdateOnUtc))
                        {
                            Title = T("Plugin.SatyanamCRM.Campaings.Fields.UpdateOnUtc").Text,
                            Render = new RenderDate()
                        });
                        @if (await permissionService.AuthorizeAsync(SatyanamPermissionProvider.ManageCampaigns, PermissionAction.Edit))
                        {
                            gridModel.ColumnCollection.Add(new ColumnProperty(nameof(CampaingsModel.Id))
                            {
                                Title = T("Plugin.SatyanamCRM.Campaings.Edit").Text,
                                Width = "100",
                                ClassName =  NopColumnClassDefaults.Button,
                                Render = new RenderButtonEdit(new DataUrl("Edit"))
                            });
                        }
                    }
                    @await Html.PartialAsync("Table", gridModel)
                </div>
            </div>
        </div>
    </div>
</div>
    <script>
        $('#delete-selected-action-confirmation-submit-button').bind('click', function () {
            var postData = {
                selectedIds: selectedIds
            };
            addAntiForgeryToken(postData);
            $.ajax({
                cache: false,
                type: "POST",
                url: "@(Url.Action("DeleteSelected", "Campaings"))",
                data: postData,
                error: function (jqXHR, textStatus, errorThrown) {
                    showAlert('deleteSelectedFailed', errorThrown);
                },
                complete: function (jqXHR, textStatus) {
                    if (jqXHR.status === 204)
                    {
                        showAlert('nothingSelectedAlert', '@T("Admin.Common.Alert.NothingSelected")');
                        return;
                    }
                    updateTable('#campaings-grid');

                }
            });
            $('#delete-selected-action-confirmation').modal('toggle');
            return false;
        });
    </script>

    <nop-alert asp-alert-id="deleteSelectedFailed" />
    <nop-alert asp-alert-id="nothingSelectedAlert" />
</section>