@model EmployeeModel

@{
    //page title
    ViewBag.PageTitle = T("Admin.HRM.Employees.EditEmployeeDetails").Text;
    //active menu item (system name)
    NopHtml.SetActiveMenuItemSystemName("Employee");
}

<form asp-controller="Employee" asp-action="Edit" method="post" id="employee-form">
    <div class="content-header clearfix">
        <h1 class="float-left">
            @T("Admin.HRM.Employees.EditEmployeeDetails")
            <small>
                <i class="fas fa-arrow-circle-left"></i>
                <a asp-action="List">@T("Admin.HRM.Employees.BackToList")</a>
            </small>
        </h1>
        <div class="float-right">
            @if (await permissionService.AuthorizeAsync(StandardPermissionProvider.ManageEmployee, PermissionAction.Edit))
            {
                <button type="submit" id="btnAddNewDesignation" class="btn btn-primary" onclick="javascript:OpenWindow('@(Url.Action("SendOnBordingEmail", "Employee", new { employeeId = @Model.Id, btnId = "btnRefreshDesignation", formId = "Designation-form" }))', 800, 570, true); return false;">
                    <i class="far fa-envelope"></i>
                    @T("Employee.SendOnBordingEmail")
                </button>
                <button type="submit" name="save" class="btn btn-primary">
                    <i class="far fa-save"></i>
                    @T("Admin.Common.Save")
                </button>
                <button type="submit" name="save-continue" class="btn btn-primary">
                    <i class="far fa-save"></i>
                    @T("Admin.Common.SaveContinue")
                </button>
            }
            @if (await permissionService.AuthorizeAsync(StandardPermissionProvider.ManageEmployee, PermissionAction.Delete))
            {
                <span id="employee-delete" class="btn btn-danger">
                    <i class="far fa-trash-alt"></i>
                    @T("Admin.Common.Delete")
                </span>
            }
        </div>
    </div>
    @await Html.PartialAsync("/Areas/Admin/Views/Extension/Employee/_CreateOrUpdate.cshtml", Model)
</form>
<nop-delete-confirmation asp-model-id="@Model.Id" asp-button-id="employee-delete" />