@model LeaveTypeSearchModel
@{
    //page title
    ViewBag.PageTitle = T("Admin.Catalog.LeaveType").Text;
    //active menu item (system name)
    NopHtml.SetActiveMenuItemSystemName("LeaveType");
}

@{
    const string hideSearchBlockAttributeName = "CategoryPage.HideSearchBlock";
    var hideSearchBlock = await genericAttributeService.GetAttributeAsync<bool>(await workContext.GetCurrentCustomerAsync(), hideSearchBlockAttributeName);
}
<form id="LeaveType-form">

<div class="content-header clearfix">
    <h1 class="float-left">
            @T("Admin.Catalog.LeaveType")
    </h1>
    <div class="float-right">
            <button type="submit" id="btnAddNewDesignation" class="btn btn-primary" onclick="javascript:OpenWindow('@(Url.Action("Create", "LeaveType",new {btnId="btnRefreshDesignation",formId="LeaveType-form"}))', 500, 500, true); return false;">
        @T("Add")
    </button> 

        <button type="button" id="delete-selected" class="btn btn-danger">
            <i class="far fa-trash-alt"></i>
            @T("Admin.Common.Delete.Selected")
        </button>
        <nop-action-confirmation asp-button-id="delete-selected" />
    </div>
</div>

<section class="content">
    <div class="container-fluid">
        <div class="form-horizontal">
            <div class="cards-group">
                <div class="card card-default card-search">
                    <div class="card-body">
                        <div class="row search-row @(!hideSearchBlock ? "opened" : "")" data-hideAttribute="@hideSearchBlockAttributeName">
                            <div class="search-text">@T("Admin.Common.Search")</div>
                            <div class="icon-search"><i class="fas fa-search" aria-hidden="true"></i></div>
                            <div class="icon-collapse"><i class="far fa-angle-@(!hideSearchBlock ? "up" : "down")" aria-hidden="true"></i></div>
                        </div>

                        <div class="search-body @(hideSearchBlock ? "closed" : "")">
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="form-group row">
                                        <div class="col-md-4">
                                            <nop-label asp-for="SearchLeavetypesName" />
                                        </div>
                                        <div class="col-md-8">
                                            <nop-editor asp-for="SearchLeavetypesName" />
                                        </div>
                                    </div>

                                </div>

                            </div>
                            <div class="form-group row">
                                <div class="text-center col-12">
                                    <button type="button" id="search-designation" class="btn btn-primary btn-search"><i class="fas fa-search"></i>@T("Admin.Common.Search")</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="card card-default">
                    <div class="card-body">
                        @await Html.PartialAsync("Table", new DataTablesModel
                        {
                        Name = "leaveType-grid",
                        UrlRead = new DataUrl("List", "LeaveType", null),
                        SearchButtonId = "search-leaveType",
                        Length = Model.PageSize,
                        LengthMenu = Model.AvailablePageSizes,
                        Filters = new List<FilterParameter>
                        {
                        new FilterParameter(nameof(Model.SearchLeavetypesName))

                        },
                        ColumnCollection = new List<ColumnProperty>
                        {
                        new ColumnProperty(nameof(LeaveTypeModel.Id))
                        {
                        IsMasterCheckBox = true,
                        Render = new RenderCheckBox("checkbox_categories"),
                        ClassName =  NopColumnClassDefaults.CenterAll,
                        Width = "50"
                        },

                        new ColumnProperty(nameof(LeaveTypeModel.Type))
                        {
                            Title = T("Admin.Catalog.LeaveType.Fields.Type").Text,
                        },
                        new ColumnProperty(nameof(LeaveTypeModel.Description))
                        {
                            Title = T("Admin.Catalog.LeaveType.Fields.Description").Text,
                        Width = "50",
                        Render = new RenderDate()
                        },
                        new ColumnProperty(nameof(LeaveTypeModel.Id))
                        {
                        Title = T("Admin.Common.Edit").Text,
                        Width = "80",
                        ClassName =  NopColumnClassDefaults.Button,
                        Render = new RenderCustom("renderColumnEdit")
                        }
                        }
                        })
                    </div>
                    <script>
                        function renderColumnEdit(data, type, row, meta) {
                                return '<button onclick=\"javascript:OpenWindow(\'@Url.Content("~/Admin/Designation/Edit/")' + row.Id + '?btnId=btnRefreshDesignation&formId=LeaveType-form\', 400, 400, true); return false;\" class="btn btn-default"><i class="fas fa-pencil-alt"></i>@T("Admin.Common.Edit").Text</button>';
                        }
                    </script>
                </div>
            </div>
        </div>
    </div>
    <button type="submit" id="btnRefreshDesignation" style="display:none"></button>
     <script>
        $('#delete-selected-action-confirmation-submit-button').bind('click', function () {
            var postData = {
                selectedIds: selectedIds
            };
            addAntiForgeryToken(postData);
            $.ajax({
                cache: false,
                type: "POST",
                url: "@(Url.Action("DeleteSelected", "LeaveType"))",
                data: postData,
                error: function (jqXHR, textStatus, errorThrown) {
                    showAlert('deleteSelectedFailed', errorThrown);
                },
                complete: function (jqXHR, textStatus) {
                    if (jqXHR.status === 204)
                    {
                        showAlert('nothingSelectedAlert', '@T("Admin.Common.Alert.NothingSelected")');
                        return;
                    }
                        updateTable('#leaveType-grid');
                        
                }
            });
            $('#delete-selected-action-confirmation').modal('toggle');
            return false;
        });
    </script>
   
    <nop-alert asp-alert-id="deleteSelectedFailed" />
    <nop-alert asp-alert-id="nothingSelectedAlert" />
</section>



</form>
