@using App.Web.Areas.Admin.Models.Extension.ProcessWorkflows
@using App.Web.Areas.Admin.Models.Extension.ProcessRules
@model ProcessWorkflowModel

<div class="card-body">
    @if (Model.Id > 0)
    {
        <div class="card card-default">
            <div class="card-body">
                @{
                    var gridModel = new DataTablesModel
                    {
                        Name = "processRules-grid",
                        UrlRead = new DataUrl("List", "ProcessRules", new RouteValueDictionary { [nameof(Model.processRulesSearchModel.ProcessWorkflowId)] = Model.Id }),
                        UrlDelete = new DataUrl("Delete", "ProcessRules", new RouteValueDictionary { [nameof(Model.Id)] = Model.ProcessRulesModel.FirstOrDefault()?.Id }),
                        Length = Model.processRulesSearchModel.PageSize,
                        LengthMenu = Model.processRulesSearchModel.AvailablePageSizes
                    };

                    gridModel.ColumnCollection.Add(new ColumnProperty(nameof(ProcessRulesModel.FromStateName))
                    {
                        Title = T("Admin.ProcessRulesModel.Fields.FromStateName").Text,
                        Width = "200"
                    });
                    gridModel.ColumnCollection.Add(new ColumnProperty(nameof(ProcessRulesModel.ToStateName))
                    {
                        Title = T("Admin.ProcessRulesModel.Fields.ToStateName").Text,
                        Width = "200"
                    });
                    gridModel.ColumnCollection.Add(new ColumnProperty(nameof(ProcessRulesModel.IsCommentRequired))
                    {
                        Title = T("Admin.ProcessRulesModel.Fields.IsCommentRequired").Text,
                        Width = "30",
                        ClassName = NopColumnClassDefaults.CenterAll,
                        Render = new RenderBoolean()
                    });
                    gridModel.ColumnCollection.Add(new ColumnProperty(nameof(ProcessRulesModel.IsActive))
                    {
                        Title = T("Admin.ProcessRulesModel.Fields.IsActive").Text,
                        Width = "30",
                        ClassName = NopColumnClassDefaults.CenterAll,
                        Render = new RenderBoolean()
                    });
                    gridModel.ColumnCollection.Add(new ColumnProperty(nameof(ProcessRulesModel.CreatedOn))
                    {
                        Title = T("Admin.ProcessRulesModel.Fields.CreatedOn").Text,
                        Width = "150",
                        Render = new RenderDate()
                    });
                    @if (await permissionService.AuthorizeAsync(StandardPermissionProvider.ManageProcessRules, PermissionAction.Edit))
                    {
                        gridModel.ColumnCollection.Add(new ColumnProperty(nameof(ProcessRulesModel.Id))
                        {
                            Title = T("Admin.Common.Edit").Text,
                            Width = "80",
                            ClassName = NopColumnClassDefaults.Button,
                            Render = new RenderCustom("renderColumnEdit")
                        });
                    }
                    @if (await permissionService.AuthorizeAsync(StandardPermissionProvider.ManageProcessRules, PermissionAction.Delete))
                    {
                        gridModel.ColumnCollection.Add(new ColumnProperty(nameof(ProcessRulesModel.Id))
                        {
                            Title = T("Admin.Common.Delete").Text,
                            Width = "100",
                            Render = new RenderButtonRemove(T("Admin.Common.Delete").Text),
                            ClassName = NopColumnClassDefaults.Button
                        });
                    }
                }
                @await Html.PartialAsync("Table", gridModel)
            </div>
            <script>
                function renderColumnEdit(data, type, row, meta) {
                    var processWorkflowId = @Model.Id;
                    var url = '@Url.Action("Edit", "ProcessRules")' + '?processWorkflowId=' + processWorkflowId + '&id=' + data;
                    return '<button onclick="javascript:OpenWindow(\'' + url + '&btnId=btnRefreshWorkProcessRules&formId=processWorkflow-form\', 800, 800, true); return false;" class="btn btn-default"><i class="fas fa-pencil-alt"></i>@T("Admin.Common.Edit").Text</button>';
                }

                $(document).ready(function () {
                    $(window).on('refreshGrid', function () {
                        updateTable('#processRules-grid');
                        console.log("Grid refreshed");
                    });
                });
            </script>

            @if (await permissionService.AuthorizeAsync(StandardPermissionProvider.ManageProcessRules, PermissionAction.Add))
            {
                <div class="card-body">
                    <button type="button" id="btnAddNewEmpProjectMapping" class="btn btn-primary" onclick="javascript:OpenWindow('@Url.Action("Create", "ProcessRules", new { processWorkflowId = Model.Id, btnId = "btnRefreshWorkProcessRules", formId = "processWorkflow-form" })', 800, 800, true); return false;">
                        <i class="fas fa-plus-square"></i>
                        @T("Admin.Catalog.Products.ProjectEmployee.AddNew")
                    </button>
                    <button type="button" id="btnRefreshWorkProcessRules" style="display:none"></button>
                </div>
            }
        </div>
    }
    else
    {
        <div class="card card-default">
            <div class="card-body">
                @T("Admin.Catalog.Products.SpecificationAttributes.SaveBeforeEdit")
            </div>
        </div>
    }
</div>
