@model HeaderLinksModel
@using App.Core.Domain.Customers
@inject App.Core.IWebHelper webHelper
<div class="header-links">
    <ul>
        @await Component.InvokeAsync(typeof(WidgetViewComponent), new { widgetZone = PublicWidgetZones.HeaderLinksBefore, additionalData = Model })
        @if (Model.IsAuthenticated)
        {
            <li><a href="@Url.RouteUrl("DownloadTracker")" class="ico-account">@T("Account.DownloadTracker")</a></li>
            <li><a href="@Url.RouteUrl("EmployeeInfo")" class="ico-account">@T("Account.MyAccount")</a></li>
            @if (await permissionService.AuthorizeAsync(StandardPermissionProvider.PublicStoreDashboard, PermissionAction.View))
            {
                <li>
                    <a href="@Url.Action("Followup", "Dashboard")" class="ico-dashboard">@T("Account.Dashboard")</a>
                </li>
            }
            @if (await permissionService.AuthorizeAsync(StandardPermissionProvider.PublicStoreTimesheet, PermissionAction.Add))
            {
                <li>
                    <a href="@Url.Action("UpdateTimeSheet", "TimeSheet")" class="ico-timesheets">
                        @T("Account.UpdateTimeSheet")
                    </a>
                </li>
            }
            @if (await permissionService.AuthorizeAsync(StandardPermissionProvider.PublicStoreTimeSummaryReport, PermissionAction.View))
            {
                <li>
                    <a href="@Url.Action("TimeSummaryReport", "Reports")" class="ico-timesheets">
                        @T("Account.HeaderLink.TimeSummaryReport")
                    </a>
                </li>
            }
            <li><a href="@Url.RouteUrl("Logout")" class="ico-logout">@T("Account.Logout")</a></li>
        }
        else
        {
            var returnUrl = Context.Request.Query.TryGetValue("returnUrl", out var url) && !StringValues.IsNullOrEmpty(url)
                ? url.ToString()
                : webHelper.GetRawUrl(Context.Request);

            @if (Model.RegistrationType != UserRegistrationType.Disabled)
            {
                <li><a href="@Url.RouteUrl("Register", new { returnUrl })" class="ico-register">@T("Account.Register")</a></li>
            }
            <li><a href="@Url.RouteUrl("Login", new { returnUrl })" class="ico-login">@T("Account.Login")</a></li>
        }
        @if (Model.AllowPrivateMessages)
        {
            <li>
                <a href="@Url.RouteUrl("PrivateMessages", new { tab = "" })" class="ico-inbox">
                    <span class="inbox-label">@T("PrivateMessages.Inbox")</span>
                    <span class="inbox-unread">@Model.UnreadPrivateMessages</span>
                </a>
            </li>
        }
        @await Component.InvokeAsync(typeof(WidgetViewComponent), new { widgetZone = PublicWidgetZones.HeaderLinksAfter, additionalData = Model })
    </ul>
    @if (Model.AllowPrivateMessages && !string.IsNullOrEmpty(Model.AlertMessage))
    {
        <script asp-location="Footer">
            $(document).ready(function () {
                displayPopupNotification('@Html.Raw(JavaScriptEncoder.Default.Encode(Model.AlertMessage))', 'success', false);
            });
        </script>
    }
</div>
