@using Satyanam.Nop.Plugin.SatyanamCRM.Models.AccountTypes
@model AccountTypeModel
@{
    Layout = "_AdminLayout";
}
@{
    //page title
    ViewBag.PageTitle = @T("Plugin.SatyanamCRM.AccountType.EditAccountTypeDetails").Text;
     //active menu item (system name)
    NopHtml.SetActiveMenuItemSystemName("AccountType");
}
 

<form asp-controller="AccountType" asp-action="Edit" method="post">
    <div class="content-header clearfix">
        <h1 class="float-left">
            @T("Plugin.SatyanamCRM.AccountType.EditAccountTypeDetails") @* - @Model.Name *@
            <small>
                <i class="fas fa-arrow-circle-left"></i>
                <a asp-action="List">@T("Plugin.SatyanamCRM.AccountType.BackToList")</a>
            </small>
        </h1>
        @if (await permissionService.AuthorizeAsync(SatyanamPermissionProvider.ManageAccountTypes, PermissionAction.Edit))
        {
            <div class="float-right">
                <button type="submit" name="save" class="btn btn-primary">
                    <i class="far fa-save"></i>
                    @T("Admin.Common.Save")
                </button>
                <button type="submit" name="save-continue" class="btn btn-primary">
                    <i class="far fa-save"></i>
                    @T("Admin.Common.SaveContinue")
                </button>
            </div>
        }
    </div>
    @await Html.PartialAsync("~/Plugins/Misc.SatyanamCRM/Views/AccountType/_CreateOrUpdate.cshtml", Model)
</form>