@using App.Services.Common
@using App.Web.Framework.Models.DataTables
@using Nop.Plugin.SatyanamCRM.Models.AccountTypes
@using Satyanam.Nop.Plugin.SatyanamCRM.Models.AccountTypes
@inject IGenericAttributeService GenericAttributeService
@inject IWorkContext WorkContext

@model AccountTypeSearchModel
@{
    Layout = "_AdminLayout";
}
@{
    //page title
    ViewBag.PageTitle = T("Plugin.SatyanamCRM.AccountType").Text;
    //active menu item (system name)
    NopHtml.SetActiveMenuItemSystemName("AccountType");

    const string hideSearchBlockAttributeName = "accountTypeListPage.HideSearchBlock";
    var hideSearchBlock = await GenericAttributeService.GetAttributeAsync<bool>(await workContext.GetCurrentCustomerAsync(), hideSearchBlockAttributeName);
}
<div class="content-header clearfix">
    <h1 class="float-left">
        @T("Plugin.SatyanamCRM.AccountType")
    </h1>
    <div class="float-right">
        @if (await permissionService.AuthorizeAsync(SatyanamPermissionProvider.ManageAccountTypes, PermissionAction.Add))
        {
            <a asp-action="Create" class="btn btn-primary">
                <i class="fas fa-plus-square"></i>
                @T("Plugin.SatyanamCRM.AccountType.AddNew")
            </a>
        }
        @if (await permissionService.AuthorizeAsync(SatyanamPermissionProvider.ManageAccountTypes, PermissionAction.Delete))
        {
            <button type="button" id="delete-selected" class="btn btn-danger">
                <i class="far fa-trash-alt"></i>
                @T("Admin.Common.Delete.Selected")
            </button>
            <nop-action-confirmation asp-button-id="delete-selected" />
        }
    </div>
</div>

<section class="content">
    <div class="container-fluid">
        <div class="form-horizontal">
            <div class="cards-group">
                <div class="card card-default card-search">
                    <div class="card-body">
                        <div class="row search-row @(!hideSearchBlock ? "opened" : "")" data-hideAttribute="@hideSearchBlockAttributeName">
                            <div class="search-text">@T("Admin.Common.Search")</div>
                            <div class="icon-search"><i class="fas fa-search" aria-hidden="true"></i></div>
                            <div class="icon-collapse"><i class="far fa-angle-@(!hideSearchBlock ? "up" : "down")" aria-hidden="true"></i></div>
                        </div>

                        <div class="search-body @(hideSearchBlock ? "closed" : "")">
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="form-group row">
                                        <div class="col-md-4">
                                            <nop-label asp-for="SearchAccountTypeName" />
                                        </div>
                                        <div class="col-md-8">
                                            <nop-editor asp-for="SearchAccountTypeName" />
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="text-center col-12">
                                    <button type="button" id="search-accountType" class="btn btn-primary btn-search">
                                        <i class="fas fa-search"></i>
                                        @T("Admin.Common.Search")
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="card card-default">
                    <div class="card-body">
                        @{
                            var gridModel = new DataTablesModel
                            {
                                Name = "accountType-grid",
                                UrlRead = new DataUrl("List", "AccountType", null),
                                SearchButtonId = "search-accountType",
                                Length = Model.PageSize,
                                LengthMenu = Model.AvailablePageSizes,
                                Filters = new List<FilterParameter>
                                {
                                    new FilterParameter(nameof(Model.SearchAccountTypeName))
                                },
                            };
                            gridModel.ColumnCollection.Add(new ColumnProperty(nameof(AccountTypeModel.Id))
                            {
                                IsMasterCheckBox = true,
                                Render = new RenderCheckBox("checkbox_account_types"),
                                ClassName = NopColumnClassDefaults.CenterAll,
                                Width = "50"
                            });
                            gridModel.ColumnCollection.Add(new ColumnProperty(nameof(AccountTypeModel.Name))
                            {
                                Title = T("Plugin.SatyanamCRM.AccountType.Fields.Name").Text
                            });
                            @if (await permissionService.AuthorizeAsync(SatyanamPermissionProvider.ManageAccountTypes, PermissionAction.Edit))
                            {
                                gridModel.ColumnCollection.Add(new ColumnProperty(nameof(AccountTypeModel.Id))
                                {
                                    Title = T("Plugin.SatyanamCRM.AccountType.Edit").Text,
                                    Width = "80",
                                    ClassName = NopColumnClassDefaults.Button,
                                    Render = new RenderButtonEdit(new DataUrl("Edit"))
                                });
                            }
                        }
                        @await Html.PartialAsync("Table", gridModel)
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<script>
    $('#delete-selected-action-confirmation-submit-button').bind('click', function () {
        var postData = {
            selectedIds: selectedIds
        };
        addAntiForgeryToken(postData);
        $.ajax({
            cache: false,
            type: "POST",
            url: "@(Url.Action("DeleteSelected", "AccountType"))",
            data: postData,
            error: function (jqXHR, textStatus, errorThrown) {
                showAlert('deleteSelectedFailed', errorThrown);
            },
            complete: function (jqXHR, textStatus) {
                if (jqXHR.status === 204) {
                    showAlert('nothingSelectedAlert', '@T("Admin.Common.Alert.NothingSelected")');
                    return;
                }
                updateTable('#accountType-grid');

            }
        });
        $('#delete-selected-action-confirmation').modal('toggle');
        return false;
    });
</script>

<nop-alert asp-alert-id="deleteSelectedFailed" />
<nop-alert asp-alert-id="nothingSelectedAlert" />