@using App.Core
@using App.Web.Models.Extensions.TimeSheets;

@model TimeSheetSearchModel;

@{
    Layout = "_ColumnsOne";
    NopHtml.AddTitleParts(T("PageTitle.TimeSheetList").Text);
    NopHtml.AppendPageCssClassParts("html-account-page");
    NopHtml.AppendPageCssClassParts("html-customer-info-page");
 
}
<link rel="stylesheet" href="@Url.Content("~/Themes/DefaultClean/Content/css/timesheetlist.css")" />
<link rel="stylesheet" href="https://kendo.cdn.telerik.com/themes/8.2.1/default/default-main.css" />
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css"/>
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script src="https://kendo.cdn.telerik.com/2023.2.829/js/kendo.all.min.js"></script>
<link rel="stylesheet" href="https://jqwidgets.com/public/jqwidgets/styles/jqx.base.css" type="text/css" />
<script type="text/javascript" src="https://jqwidgets.com/public/jqwidgets/jqx-all.js"></script>

<div class="content-header" style="display: flex; justify-content: space-between; align-items: center;">
    <h1>@T("Admin.Catalog.TimeSheet.List")</h1>
    @if (await permissionService.AuthorizeAsync(StandardPermissionProvider.PublicStoreTimesheet, PermissionAction.Add) || await permissionService.AuthorizeAsync(StandardPermissionProvider.PublicStoreTimesheet, PermissionAction.Edit))
    {
        <a href="@Url.Action("UpdateTimeSheet", "TimeSheet")" class="update-btn">
            Add
        </a>
    }
</div>

<div class="content-body">
        <div class="card card-default card-search">
        <div class="card-body nop-card-body">
            <input type="hidden" id="EmployeeId" name="EmployeeId" value="@Model.EmployeeId" />
            <div class="form-horizontal">
                <div class="grid-container">
                    <div class="grid-item">
                        <label asp-for="SelectedProjectIds" asp-postfix=":"></label>
                        <select id="SelectedProjectIds" name="SelectedProjectIds" class="kendo-multi-select" multiple>
                            @foreach (var project in Model.AvailableProjects)
                            {
                                <option value="@project.Value">@project.Text</option>
                            }
                        </select>
                        <script>
                            $(document).ready(function () {
                                var projectSelect = $('#SelectedProjectIds').kendoMultiSelect({
                                    autoClose: true,
                                    filter: "contains"
                                }).data("kendoMultiSelect");

                            @if (Model.AvailableProjects.Count == 0)
                            {
                                <text>
                                        projectSelect.setOptions({
                                            enable: false,
                                            placeholder: '@T("Admin.Catalog.Products.NoAvailableProjects")'
                                        });
                                    projectSelect._placeholder();
                                    projectSelect._enable();
                                </text>
                            }
                                                });
                        </script>
                    </div>
                    
                    <div class="grid-item">
                        <label asp-for="SelectedEmployeeIds" asp-postfix=":"></label>
                        <select id="SelectedEmployeeIds" name="SelectedEmployeeIds" class="kendo-multi-select" multiple>
                            @foreach (var employee in Model.AvailableEmployees)
                            {
                                <option value="@employee.Value">@employee.Text</option>
                            }
                        </select>
                        <script>
                            $(document).ready(function () {
                                var projectSelect = $('#SelectedEmployeeIds').kendoMultiSelect({
                                    autoClose: true,
                                    filter: "contains",
                                    value: [@Html.Raw(Model.EmployeeId)],
                                }).data("kendoMultiSelect");
                            @if (Model.AvailableEmployees.Count == 0)
                            {
                                <text>
                                        projectSelect.setOptions({
                                            enable: false,
                                            placeholder: '@T("Admin.Catalog.NoAvailableEmployees")'
                                        });
                                    projectSelect._placeholder();
                                    projectSelect._enable();
                                </text>
                            }
                    });
                        </script>
                    </div>

                    <div class="grid-item">
                        <label asp-for="TaskName" asp-postfix=":"></label>
                        <input asp-for="TaskName" />
                        <span asp-validation-for="TaskName"></span>
                    </div>
                    <div class="grid-item">
                        <label asp-for="SearchPeriodId" asp-postfix=":"></label>
                        <nop-select asp-for="SearchPeriodId" asp-items="Model.PeriodList" id="SearchPeriodId" />
                        <span asp-validation-for="SearchPeriodId"></span>
                    </div>
                   
                    <div class="grid-item">
                        <label asp-for="BillableType" asp-postfix=":"></label>
                        <nop-select asp-for="BillableType" class="select1" asp-items="Model.AvailableBillableType" />
                    </div>
                    <div class="grid-item" style="display:none;" id="from-container">
                        <label asp-for="From" asp-postfix=":"></label>
                        <input asp-for="From" type="date" />
                        <span asp-validation-for="From"></span>
                    </div>
                    <div class="grid-item" >
                
                    </div>
                    <div class="grid-item" style="display:none;" id="to-container">
                        <label asp-for="To" asp-postfix=":"></label>
                        <input asp-for="To" type="date" />
                        <span asp-validation-for="To"></span>
                    </div>
                    <div class="grid-item button-container">
                        <button type="button" id="search-brands" class="btn-search">
                            <i class="fas fa-search"></i> @T("Admin.Common.Search")
                        </button>
                    </div>
                </div>
            </div>
        </div>
        </div>
    <div id="timesheet-table-container">
        <div id="timesheet-table"></div>
    </div>

  
</div>

<script>
    $(document).ready(function () {

        $('#SearchPeriodId').on('change', function () {
        var periodId = $(this).val();

        $.ajax({
          url: "@(Url.Action("GetPeriodDateRange", "Reports"))",
            type: 'GET',
            data: { periodId: periodId },
            success: function (data) {
                if (data.from && data.to) {
                    $('#From').val(data.from);
                    $('#To').val(data.to);
                    $('#from-container').hide();
                    $('#to-container').hide();
                    
                } else {
                    $('#From').val('');
                    $('#To').val('');
                    $('#from-container').show();
                    $('#to-container').show();
                }
            }
        });
    });
     $('#SearchPeriodId').trigger('change');
    });
</script>
<script>
    $(document).ready(function () {
        function performSearch(pageIndex, pageSize) {
            pageIndex = pageIndex || 0; 
            pageSize = pageSize || 10;
            var selectedProjects = $('#SelectedProjectIds').val() || []; 
            var selectedEmployees = $('#SelectedEmployeeIds').val() || []; 
            selectedProjects = selectedProjects.join(','); 
            selectedEmployees = selectedEmployees.join(',');

            var taskName = $('#TaskName').val();
            var fromDate = $('#From').val();
            var toDate = $('#To').val();
            var billableType = $('#BillableType').val();
            var data = {
                projectIds: selectedProjects,
                employeeIds: selectedEmployees,
                taskName: taskName,
                fromDate: fromDate,
                toDate: toDate,
                billableType: billableType
            };

            $("#timesheet-table").jqxGrid({
                width: '100%',
                autoheight: true,
                sortable: true,
                columnsresize: true,
                source: {
                    datatype: 'json',
                    datafields: [
                        { name: 'EmployeeName' },
                        { name: 'ProjectName' },
                        { name: 'TaskName' },
                        { name: 'ActivityName' },
                        { name: 'TaskId' },
                        { name: 'SpentDates' },
                        { name: 'Time' },
                        { name: 'EstimatedHoursHHMM' },
                        { name: 'SpentTime' },
                        { name: 'Billable' }
                    ],
                    url: '@Url.Action("TimesheetList", "TimeSheet")',
                    data: data
                },
                columns: [
                        { text: 'Employee Name', datafield: 'EmployeeName', width: '10%' },
    { text: 'Project Name', datafield: 'ProjectName', width: '12%' },
     {
            text: 'Task Name',
            datafield: 'TaskName',
            width: '25%',
            cellsrenderer: function (row, column, value, defaultHtml, columnProperties, rowData) {
                if (!rowData.TaskId) return value;
                return `
                    <div class="task-cell" onclick="window.open('/ProjectTask/Edit?id=${rowData.TaskId}', '_blank')">
                        ${value}
                    </div>`;
            }
        },
    { text: 'Activity Name', datafield: 'ActivityName', width: '15%' },
    { text: 'Spent Date', datafield: 'SpentDates', width: '9%' },
    { text: 'Time', datafield: 'Time', width: '9%' },
    { text: 'Estimated Time', datafield: 'EstimatedHoursHHMM', width: '8%' },
    { text: 'Spent Time', datafield: 'SpentTime', width: '8%' },
    {
        text: 'Billable',
        datafield: 'Billable',
        width: '4%',
        cellsrenderer: function (row, column, value, defaultHtml, columnSettings, rowData) {
            var iconStyle = 'text-align: center; font-size: 16px; width: 100%; height: 100%;';
            var iconSize = 'font-size: 16px;';
            if (value) {
                return '<div style="' + iconStyle + '"><i class="fa fa-check" style="color: green; ' + iconSize + '"></i></div>';
            } else {
                return '<div style="' + iconStyle + '"><i class="fa fa-times" style="color: red; ' + iconSize + '"></i></div>';
            }
        }
    }
                ],
                pageable: true,
                pagerMode: 'advanced',
                pagesize: pageSize,
                pagesizeoptions: ['5', '10', '20', '50', '100']
            });
        }
        performSearch(0);
        $('#search-brands').on('click', function () {
            performSearch(0);
        });
    });
</script>
