@using App.Web.Models.Extension.TimesheetReports

@model TimesheetReportSearchModel
@{
    Layout = "_ColumnsOne";

    NopHtml.AddTitleParts(T("Account.AttendanceReport").Text);
    NopHtml.AppendPageCssClassParts("html-account-page");
    NopHtml.AppendPageCssClassParts("html-customer-info-page");
}
 

<link rel="stylesheet" href="@Url.Content("~/Themes/DefaultClean/Content/css/summaryreports.css")" />
<link rel="stylesheet" href="https://kendo.cdn.telerik.com/themes/8.2.1/default/default-main.css" />
<!-- jQuery -->
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>

<!-- Kendo UI JS -->
<script src="https://kendo.cdn.telerik.com/2023.2.829/js/kendo.all.min.js"></script>

<link rel="stylesheet" href="https://code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css" />
<script src="https://code.jquery.com/ui/1.12.1/jquery-ui.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.29.1/moment.min.js"></script>


<div class="content-header clearfix">
    <h1 class="float-left">
        @T("Admin.Configuration.AttendanceReport")
    </h1>
</div>
<section class="content">
    <div class="container-fluid">
        <div class="form-horizontal">
            <div class="cards-group">
                <div class="card card-default card-search">
                    <div class="card-body">
                        <!-- First  Row: Employee -->
                        <div class="row">

                            <div class="col-md-6">
                                <div class="form-group row">

                                    <label asp-for="SelectedEmployeeIds" asp-postfix=":"></label>
                                    <select id="SelectedEmployeeIds" name="SelectedEmployeeIds" class="kendo-multi-select" multiple>
                                        @foreach (var project in Model.AvailableEmployees)
                                        {
                                            <option value="@project.Value">@project.Text</option>
                                        }
                                    </select>
                                    <script>
                                        $(document).ready(function () {
                                            var projectSelect = $('#SelectedEmployeeIds').kendoMultiSelect({
                                                autoClose: true,
                                                filter: "contains",
                                                value: [@Html.Raw(Model.EmployeeId)],
                                            }).data("kendoMultiSelect");

                                        @if (Model.AvailableEmployees.Count == 0)
                                        {
                                            <text>
                                                    projectSelect.setOptions({
                                                        enable: false,
                                                        placeholder: '@T("Admin.Catalog.Products.NoAvailableProjects")'
                                                    });
                                                projectSelect._placeholder();
                                                projectSelect._enable();
                                            </text>
                                        }
                                                                                                                                                                                                                                                        });
                                    </script>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group row">
                                    <div class="col-sm-3">
                                        <nop-label asp-for="SearchPeriodId" />
                                    </div>
                                    <div class="col-sm-8">
                                        <nop-select asp-for="SearchPeriodId" asp-items="Model.PeriodList" id="SearchPeriodId" />
                                        <span asp-validation-for="SearchPeriodId"></span>
                                    </div>
                                </div>
                            </div>

                           
                   
                        </div>

                        <div class="row">

                            <div class="col-md-6">
                                <div class="form-group row">
                                    <div class="col-sm-3">
                                        <nop-label asp-for="ShowById" />
                                    </div>
                                    <div class="col-sm-8">
                                        <nop-select asp-for="ShowById" asp-items="Model.ShowByList" />
                                        <span asp-validation-for="ShowById"></span>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6" style="display:none;" id="from-container">
                                <div class="form-group row">
                                    <div class="col-md-3">
                                        <label asp-for="From" asp-postfix=":"></label>
                                    </div>
                                    <div class="col-md-4">
                                        <input asp-for="From" type="date" id="From" />
                                        <p style="color:red; " id="fromError"></p>
                                    </div>
                                </div>
                            </div>
                           
                        </div>
                        <div class="row">
                            <div class="col-md-6"></div>
                            <div class="col-md-6" style="display:none;" id="to-container">
                                <div class="form-group row">
                                    <div class="col-md-3">
                                        <label asp-for="To" asp-postfix=":"></label>
                                    </div>
                                    <div class="col-md-4">
                                        <input asp-for="To" type="date" id="To" />
                                        <p style="color:red; " id="toError"></p>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- Search Button -->
                        <div class="row">
                            <div class="text-center col-12">
                                <button type="submit" id="search-brands" class="btn btn-primary btn-search">
                                    <i class="fas fa-chart-line"></i>
                                    @T("Admin.Reports.MonthlyReport.RunReport")
                                </button>

                            </div>
                        </div>
                    </div>
                </div>
                <script>
                    $(document).ready(function () {

                         //for automatically change dropdown according to difference of date
                    function updateShowByDropdown() {
                        var fromDate = new Date($('#From').val());
                        var toDate = new Date($('#To').val());

                        // Ensure both dates are selected
                        if (!isNaN(fromDate) && !isNaN(toDate)) {
                            var timeDiff = toDate - fromDate;
                            var daysDiff = timeDiff / (1000 * 3600 * 24);

                            // Get the normal dropdown element
                            var showByDropdown = $('#ShowById');
                            if (daysDiff > 31) {
                                // If the difference is more than 1 months (31 days), set to Monthly
                                showByDropdown.val('3');
                            } else if (daysDiff > 7) {
                                // If the difference is more than 7 days, set to Weekly
                                showByDropdown.val('2');
                            } else {
                                // Otherwise, set to Daily
                                showByDropdown.val('1');
                            }
                        }
                    }

                    // Trigger the function when the From or To date changes
                    $('#From, #To').on('change', updateShowByDropdown);

                        $('#SearchPeriodId').on('change', function () {
                        var periodId = $(this).val();

                        $.ajax({
                          url: "@(Url.Action("GetPeriodDateRange", "Reports"))",
                            type: 'GET',
                            data: { periodId: periodId },
                            success: function (data) {
                                if (data.from && data.to) {

                                    // Not custom, auto-fill and hide custom fields
                                    $('#From').val(data.from);
                                    $('#To').val(data.to);
                                    $('#from-container').hide();
                                    $('#to-container').hide();
                                    updateShowByDropdown()
                                } else {
                                    // Custom selected
                                    $('#From').val('');
                                    $('#To').val('');
                                    $('#from-container').show();
                                    $('#to-container').show();
                                    updateShowByDropdown()
                                }
                            }
                        });
                    });
                     $('#SearchPeriodId').trigger('change');
                    });
                </script>
                <div class="card card-default hide-before">
                    <div class="card-body">
                    <div class="table-wrapper">

                        <table id="summary-report-table" class="table">
                            <thead>
                                <!-- Table header will be dynamically created here -->
                            </thead>
                            <tbody>
                                <!-- Table body will be dynamically created here -->
                            </tbody>
                            <tfoot>
                                <!-- Total row will be dynamically created here -->
                            </tfoot>
                        </table>
                    </div>
                </div>
                </div>


                <div class="card card-default hide-before">

   

                    <div class="card-body">
                        <div class="table-wrapper hint-table">
                            <table class="table">
                                <tr>
                                    <td>Hints</td>
                                    <td><span class="leave-label">FL</span> - Full Leave</td>
                                    <td><span class="halfleave-label">HL/Orange colour</span> - Half Leave</td>
                                    <td><span class="weekend-label">Oct 27</span> - Weekend</td>
                                    <td><span class="holiday-label">Oct 31</span> - Holiday</td>
                                </tr>
                            </table>
                        </div>
  
                        <div class="table-wrapper">

                            <table id="timesheet-report-table" class="table">
                                <thead>
                                    <!-- Table header will be dynamically created here -->
                                </thead>
                                <tbody>
                                    <!-- Table body will be dynamically created here -->
                                </tbody>
                                <tfoot>
                                    <!-- Total row will be dynamically created here -->
                                </tfoot>
                            </table>
                        </div>
                    </div>
                </div>

                <script>
                    $(document).ready(function () {
                        // Helper function to calculate monthly segments


                       
                        function getMonthlySegments(fromDate, toDate) {
                            let segments = [];
                            let current = new Date(fromDate);

                            // Loop through months, even if partial
                            while (current <= toDate) {
                                let startOfMonth = new Date(current.getFullYear(), current.getMonth(), 1);
                                let endOfMonth = new Date(current.getFullYear(), current.getMonth() + 1, 0); // Last day of the month

                                // Adjust the segment start and end based on the selected range
                                let segmentStart = current > fromDate ? current : fromDate;
                                let segmentEnd = endOfMonth > toDate ? toDate : endOfMonth;

                                segments.push({
                                    start: new Date(segmentStart),
                                    end: new Date(segmentEnd)
                                });

                                // Move to the next month
                                current = new Date(endOfMonth);
                                current.setDate(current.getDate() + 1);
                            }

                            return segments;
                        }

                        // Helper function to calculate weekly segments
                        function getWeeklySegments(fromDate, toDate) {
                            let segments = [];
                            let current = new Date(fromDate);

                            // Loop to calculate weekly segments
                            while (current <= toDate) {
                                let weekStart = new Date(current);
                                let weekEnd = new Date(current);
                                weekEnd.setDate(current.getDate() + (7 - current.getDay()));  // Set to the end of the week (Sunday if you do satuerday then do 6 insetd of 7 as old)
                                segments.push({
                                    start: new Date(weekStart),
                                    end: new Date(Math.min(weekEnd, toDate)) // Ensure we don't exceed the 'To' date
                                });
                                current = new Date(weekEnd);
                                current.setDate(current.getDate() + 1); // Move to the next week's start (Sunday)
                            }
                         
                            return segments;
                        }


                        // Format date as "Aug 1 - Aug 7"
                        function formatDateRange(startDate, endDate) {
                            let startMonth = startDate.toLocaleDateString('en-US', { month: 'short' });
                            let startDay = startDate.toLocaleDateString('en-US', { day: 'numeric' });
                            let endMonth = endDate.toLocaleDateString('en-US', { month: 'short' });
                            let endDay = endDate.toLocaleDateString('en-US', { day: 'numeric' });

                            if (startMonth === endMonth) {
                                return `${startMonth} ${startDay} - ${endDay}`;
                            } else {
                                return `${startMonth} ${startDay} - ${endMonth} ${endDay}`;
                            }
                        }

                        function validateEmployeeSelection() {
                            var selectedEmployeeIds = $('#SelectedEmployeeIds').val(); // Get selected employee IDs
                            var From = $('#From').val();
                            var To = $('#To').val();

                            var isValid = true; // Assume valid unless we find errors

                            // Clear previous error messages
                            $('#Employee-error').html('').css('color', '');
                            $('#fromError').html('').css('color', '');
                            $('#toError').html('').css('color', '');

                            // Validate selected employees
                            if (!selectedEmployeeIds || selectedEmployeeIds.length === 0) {
                                $('#Employee-error').html('Please select at least one employee.').css('color', 'red'); // Show error message
                                isValid = false; // Validation failed
                            }

                            // Validate From and To dates
                            if (!From || From == null) {
                                $('#fromError').html('Please select a start date.').css('color', 'red');
                                isValid = false; // Validation failed
                            }

                            if (!To) {
                                $('#toError').html('Please select an end date.').css('color', 'red');
                                isValid = false; // Validation failed
                            }

                            if (From && To && new Date(To) < new Date(From)) {
                                $('#toError').html('End date cannot be earlier than start date.').css('color', 'red');
                                isValid = false; // Validation failed
                            }

                            return isValid; // Return validation result
                        }

                        function isWeekend(data, date) {
                            const utcTimestamp = Date.UTC(date.getFullYear(), date.getMonth(), date.getDate());
                            const utcDate = new Date(utcTimestamp);
                            const dateString = utcDate.toISOString().split('T')[0]; // extract the date part in YYYY-MM-DD format
                         

                            const isweeked = data.some(item => {
                         
                                return item.SpentDate.startsWith(dateString) && item.IsWeekend;
                            });


                            return isweeked;
                        }

                        function isHoliday(data, date) {
                            const utcTimestamp = Date.UTC(date.getFullYear(), date.getMonth(), date.getDate());
                            const utcDate = new Date(utcTimestamp);
                            const dateString = utcDate.toISOString().split('T')[0]; // extract the date part in YYYY-MM-DD format
                            

                            const isholiday = data.some(item => {
                           
                                return item.SpentDate.startsWith(dateString) && item.IsHoliday;
                            });


                            return isholiday;
                        }

                        function isLeave(data, date) {
                            const utcTimestamp = Date.UTC(date.getFullYear(), date.getMonth(), date.getDate());
                            const utcDate = new Date(utcTimestamp);
                            const dateString = utcDate.toISOString().split('T')[0]; // extract the date part in YYYY-MM-DD format
                         

                            const isLeave = data.some(item => {
                                return item.SpentDate.startsWith(dateString) && item.IsLeave
                            });


                            return isLeave;
                        }

                        // Update the table with data and date segments
                        function updateTable(data, fromDate, toDate, showById) {
                            if (data && data.length > 0) {
                                $('.hide-before').removeClass('hide-before');
                            } else {
                                $('.hide-before').addClass('hide-before');
                            }

                            var tableBody = $("#timesheet-report-table tbody");
                            var tableHead = $("#timesheet-report-table thead");
                            var tableFoot = $("#timesheet-report-table tfoot");

                            // Clear previous data
                            tableBody.empty();
                            tableHead.empty();
                            tableFoot.empty();

                            // Calculate the date segments based on ShowById
                            var segments = [];
                            if (showById == "2") {
                                segments = getWeeklySegments(new Date(fromDate), new Date(toDate));
                            } else if (showById == "3") {
                                segments = getMonthlySegments(new Date(fromDate), new Date(toDate));
                            } else {
                                let current = new Date(fromDate);
                                while (current <= new Date(toDate)) {
                                    let segment = {
                                        start: new Date(current),
                                        end: new Date(current),
                                        isWeekend: isWeekend(data, current),
                                        isHoliday: isHoliday(data, current)
                                    };
                                    segments.push(segment);
                                    current.setDate(current.getDate() + 1);
                                }
                            }

                            // Create table header with segment ranges
                            var headerRow = $("<tr></tr>");
                            headerRow.append($("<th></th>").text("Employee"));

                            segments.forEach(function (segment) {
                                var segmentText;
                                if (showById == "2") {
                                    segmentText = formatDateRange(segment.start, segment.end);
                                } else if (showById == "3") {
                                    segmentText = segment.start.toLocaleDateString('en-US', { month: 'short', day: 'numeric' }) + " - " +
                                        segment.end.toLocaleDateString('en-US', { month: 'short', day: 'numeric' });
                                } else {
                                    segmentText = segment.start.toLocaleDateString('en-US', { month: 'short', day: 'numeric' });
                                }

                                var headerCell = $("<th></th>").text(segmentText);
                                if (segment.isHoliday) {
                                    headerCell.css("color", "#4caf50");
                                } else if (segment.isWeekend) {
                                    headerCell.css("color", "red");
                                }
                                headerRow.append(headerCell);
                            });

                            headerRow.append($("<th></th>").text("Total"));
                            tableHead.append(headerRow);

                            // Group data by EmployeeId
                            var groupedData = {};
                            data.forEach(function (item) {
                                if (!groupedData[item.EmployeeId]) {
                                    groupedData[item.EmployeeId] = {
                                        name: item.EmployeeName,
                                        spentTimeByDate: {},
                                        totalSpentMinutes: 0
                                    };
                                }

                    // Convert SpentHours into total minutes
                                                                    var spentMinutes = (item.SpentHours || 0) * 60 + (item.SpentMinutes || 0);
                                     groupedData[item.EmployeeId].spentTimeByDate[item.SpentDate] = {
                                         minutes: spentMinutes,
                                         isLeave: item.IsLeave,
                                         isHalfLeave: item.IsHalfLeave
                                     };
                                     groupedData[item.EmployeeId].totalSpentMinutes += spentMinutes;

                                             });
                                     if ($('#IsHideEmpty').is(':checked')) {
                                         groupedData = Object.fromEntries(Object.entries(groupedData).filter(([_, taskData]) => taskData.totalSpentMinutes > 0));
                                     }

                                     // Add data rows for each employee
                                     Object.keys(groupedData).forEach(function (employeeId) {
                                         var employeeData = groupedData[employeeId];
                                         var row = $("<tr></tr>");
                                         row.append($("<td></td>").text(employeeData.name));

                                         segments.forEach(function (segment) {
                                             var segmentTotalMinutes = 0;
                                             var leaveCount = 0;
                                             var halfLeaveCount = 0;
                                             var isLeave = false;
                                             var isHalfLeave = false;

                                             Object.keys(employeeData.spentTimeByDate).forEach(function (date) {
                                                 var dateObj = new Date(date);
                                                 if (dateObj >= segment.start && dateObj <= segment.end) {
                                                     var entry = employeeData.spentTimeByDate[date];

                                                     segmentTotalMinutes += entry.minutes || (entry.hours || 0) * 60;

                                                     if (entry.isHalfLeave) {
                                                         isHalfLeave = true;
                                                         halfLeaveCount++;
                                                     }
                                                     if (entry.isLeave) {
                                                         isLeave = true;
                                                         leaveCount++;
                                                     }
                                                 }
                                             });

                                             var formattedTime = formatMinutesToHHMM(segmentTotalMinutes);
                                             var cell = $("<td></td>");

                                             if (showById == "1") {
                                                 if (isLeave && formattedTime === "00:00") {
                                                     cell.text("FL").css("color", "red");
                                                 } else if (isHalfLeave && formattedTime === "00:00") {
                                                     cell.text("HL").css("color", "orange");
                                                 } else {
                                                     cell.text(formattedTime !== "00:00" ? formattedTime : "-");
                                                 }
                                             } else {
                                                 let cellText = "";

                                                 if (leaveCount > 0) {
                                                     cellText += `<span style='color:red;font-size:0.75em;'>FL-${leaveCount}</span>`;
                                                 }

                                                 if (halfLeaveCount > 0) {
                                                     cellText += `<span style='color:orange;font-size:0.75em;'>HL-${halfLeaveCount}</span>`;
                                                 }

                                                 if (formattedTime !== "00:00") {
                                                     cell.html(formattedTime + " " + cellText.trim());
                                                 } else {
                                                     cell.html(cellText.trim() || "-");
                                                 }
                                             }

                                             row.append(cell);
                                         });

                                         // Total time in HH:MM format
                                         row.append($("<td></td>").text(formatMinutesToHHMM(employeeData.totalSpentMinutes)));
                                         tableBody.append(row);
                                     });


                                          // Add a row for the total of all employees
                                     var totalRow = $("<tr></tr>").addClass('totalRow');
                                     totalRow.append($("<th></th>").text("Total"));

                                     var grandTotalMinutes = 0;
                                     segments.forEach(function (segment) {
                                         var segmentTotalMinutes = 0;
                                         Object.keys(groupedData).forEach(function (employeeId) {
                                             var employeeData = groupedData[employeeId];
                                             Object.keys(employeeData.spentTimeByDate).forEach(function (date) {
                                                 var dateObj = new Date(date);
                                                 if (dateObj >= segment.start && dateObj <= segment.end) {
                                                     var entry = employeeData.spentTimeByDate[date];
                                                     if (entry && entry.minutes) {
                                                         segmentTotalMinutes += entry.minutes;
                                                     }
                                                 }
                                             });
                                         });

                                         totalRow.append($("<td class='totalRow'></td>").text(formatMinutesToHHMM(segmentTotalMinutes)));
                                         grandTotalMinutes += segmentTotalMinutes;
                                     });

                                     totalRow.append($("<td class='totalRow'></td>").text(formatMinutesToHHMM(grandTotalMinutes)));
                                     tableFoot.append(totalRow);
                        }

                        // ✅ Function to Convert Minutes into HH:MM Format
                        function formatMinutesToHHMM(totalMinutes) {
                            var hours = Math.floor(totalMinutes / 60);
                            var minutes = totalMinutes % 60;
                            return `${hours.toString().padStart(2, '0')}:${minutes.toString().padStart(2, '0')}`;
                        }

                        // ✅ Function to Format Date Ranges for Weekly Segments
                        function formatDateRange(start, end) {
                            var startDate = start.toLocaleDateString('en-US', { month: 'short', day: 'numeric' });
                            var endDate = end.toLocaleDateString('en-US', { month: 'short', day: 'numeric' });
                            return startDate + " - " + endDate;
                        }

                        
                        // Fetch data when the "Run Report" button is clicked
                        function fetchData() {

                            if (!validateEmployeeSelection()) {
                                return; // Stop further execution if validation fails
                            }

                            var selectedEmployeeIds = $('#SelectedEmployeeIds').val(); // Array of employee IDs
                            var From = moment($("#From").val()).format("M/D/YYYY");
                            var To = moment($("#To").val()).format("M/D/YYYY");
                            var showById = $('#ShowById').val();
                            var currCustomer = @Html.Raw(Model.EmployeeId);


                            // Clear previous data
                            $("#timesheet-report-table tbody").empty();
                            $("#timesheet-report-table thead").empty();
                            $("#timesheet-report-table tfoot").empty();

                            var aggregatedData = [];
                            var totalRequests = 0;
                            var completedRequests = 0;

                            // Fetch data based on employees or all employees
                            if (selectedEmployeeIds.includes("0")) {
                                // Fetch all employees' 
                                var postData = { From: From, To: To, ShowById: showById, currCustomer: currCustomer }
                                addAntiForgeryToken(postData)
                                $.ajax({
                                    url: "@(Url.Action("GetAllEmployeeAttendanceData", "Reports"))",
                                    type: "POST",
                                    data: postData,
                                    success: function (data) {
                                        aggregatedData = data;
                                     
                                        updateTable(aggregatedData, From, To, showById); // Pass date range and showById to updateTable
                                    },
                                    error: function (xhr, status, error) {
                                        console.error('Error fetching data for all employees:', error);
                                    }
                                });
                            } else {
                                totalRequests = selectedEmployeeIds.length;
                                selectedEmployeeIds.forEach(function (employeeId) {

                                    var postData = { searchEmployeeId: employeeId, From: From, To: To, ShowById: showById }
                                    addAntiForgeryToken(postData);
                                    $.ajax({
                                        url: "@(Url.Action("GetEmployeeAtttendance", "Reports"))",
                                        type: "POST",
                                        data: postData,
                                        success: function (data) {
                                            aggregatedData = aggregatedData.concat(data);
                                            completedRequests++;
                                            if (completedRequests === totalRequests) {
                                               
                                                updateTable(aggregatedData, From, To, showById); // Pass date range and showById to updateTable
                                            }
                                        },
                                        error: function (xhr, status, error) {
                                            console.error('Error fetching data for employee ID ' + employeeId + ':', error);
                                            completedRequests++;
                                            if (completedRequests === totalRequests) {
                                                updateTable(aggregatedData, From, To, showById); // Pass date range and showById to updateTable
                                            }
                                        }
                                    });
                                });
                            }
                        }


                        function fetchAttendanceSummary() {

                            if (!validateEmployeeSelection()) {
                                return; // Stop further execution if validation fails
                            }

                            var selectedEmployeeIds = $('#SelectedEmployeeIds').val(); // Array of employee IDs
              
                            var employeeIdsString = selectedEmployeeIds.join(',');
                            var currCustomer = @Html.Raw(Model.EmployeeId);

                            // Clear previous data
                            $("#timesheet-report-table tbody").empty();
                            $("#timesheet-report-table thead").empty();
                            $("#timesheet-report-table tfoot").empty();

                            var aggregatedData = [];
                            var totalRequests = 0;
                            var completedRequests = 0;

                            var postData = { employeeIds: employeeIdsString, currCustomer: currCustomer }
                            addAntiForgeryToken(postData)
                                // Fetch all employees' data
                                $.ajax({
                                    url: "@(Url.Action("GetEmployeeAttendanceSummary", "Reports"))",
                                    type: "POST",
                                data: postData,
                                    success: function (data) {
                                        aggregatedData = data;

                                    var lastUpdateTime = aggregatedData.LastUpdateBalanceTime ? aggregatedData.LastUpdateBalanceTime : "N/A";
                                    var employeeData = aggregatedData.LeaveBalances;

                                    updateSummaryTable(employeeData, lastUpdateTime);
                                    },
                                    error: function (xhr, status, error) {
                                        console.error('Error fetching data for all employees:', error);
                                    }
                                });
                           
                        }


                        function updateSummaryTable(data, lastUpdateTime) {
                            // Clear previous table data
                            $("#summary-report-table thead").empty();
                            $("#summary-report-table tbody").empty();

                            if (data.length === 0) {
                                $("#summary-report-table tbody").append("<tr><td colspan='100%'>No data available</td></tr>");
                                return;
                            }

                            // Generate table headers dynamically based on the keys in the first object
                            $("#summary-report-table thead").append(`
                                                <tr>
                                        <th colspan="100%" style="text-align: right; font-weight: bold; opacity: 0.7; color: #555;">
                                                Balance Last Updated On: ${lastUpdateTime}
                                            </th>
                                                </tr>
                                            `);
                            var thead = "<tr>";
                            Object.keys(data[0]).forEach(function (key) {
                                // Add spaces to camelCase for readability
                                thead += "<th>" + key.replace(/([A-Z])/g, ' $1').trim() + "</th>";
                            });
                            thead += "</tr>";
                            $("#summary-report-table thead").append(thead);

                            // Populate the table rows
                            data.forEach(function (employee) {
                                var tr = "<tr>";
                                Object.keys(employee).forEach(function (key) {
                                    tr += "<td>" + (employee[key] !== null ? employee[key] : "") + "</td>";
                                });
                                tr += "</tr>";
                                $("#summary-report-table tbody").append(tr);
                            });
                        }


                        //if change then validation text is gone
                        $('#SelectedEmployeeIds').change(function () {
                            $('#Employee-error').html('').css('color', '');
                        });

                        $('#From').change(function () {
                            $('#From-error').html('').css('color', '');

                        });

                        $('#To').change(function () {
                            $('#To-error').html('').css('color', '');
                        });


                        // Attach click event to search button
                        $('#search-brands').click(fetchData);
                        $('#search-brands').click(fetchAttendanceSummary);
                        

                        // Call fetchData initially to populate the table
                    });

                    // Handle button click event to remove focus
                    $(document).on('click', 'button', function () {
                        $(this).blur();
                    });


                </script>

            </div>
        </div>
    </div>


</section>


<style>
    .table-wrapper {
        width: 100%;
        overflow-x: auto; /* Enables horizontal scroll only when content overflows */
        position: relative;
    }

    #timesheet-report-table {
        border-collapse: separate;
        border-spacing: 0;
        width: 100%;
        position: relative; /* Ensure the table is positioned relatively to handle sticky positioning */
    }

        /* Ensure cells do not wrap text */
        #timesheet-report-table th,
        #timesheet-report-table td {
            padding: 10px;
            text-align: left;
            white-space: nowrap;
        }

        /* Fix the first column */
        #timesheet-report-table thead th:first-child,
        #timesheet-report-table tbody td:first-child,
        #timesheet-report-table tfoot th:first-child,
        #timesheet-report-table tfoot td:first-child {
            position: sticky;
            left: 0;
            background-color: #ffffff; /* White background for better visibility */
            z-index: 2; /* Ensure it stays on top of other columns */
        }

        /* Fix the last column */
        #timesheet-report-table thead th:last-child,
        #timesheet-report-table tbody td:last-child,
        #timesheet-report-table tfoot th:last-child,
        #timesheet-report-table tfoot td:last-child {
            position: sticky;
            right: 0;
            background-color: #ffffff; /* White background for better visibility */
            z-index: 2; /* Ensure it stays on top of other columns */
        }



        /* Fix the first column */
        #summary-report-table thead th:first-child,
    #summary-report-table tbody td:first-child,
    #summary-report-table tfoot th:first-child,
    #summary-report-table tfoot td:first-child {
            position: sticky;
            left: 0;
            background-color: #ffffff; /* White background for better visibility */
            z-index: 2; /* Ensure it stays on top of other columns */
        }

     

    /* Style for total row cells */
    .totalRow {
        font-weight: bold; /* Make the text bold */
        text-align: right; /* Align text to the right for numerical values */
        padding: 10px;
        border-top: 2px solid #ddd; /* Top border to separate total row from the data rows */
    }

    .hide-before {
        display: none;
    }

        .hide-before table:not(:empty) {
            display: block;
        }
        .leave-marks{
            display:flex;
            flex-direction:column;
        }

    .hint-table {
        margin-top: 20px;
        margin-bottom: 20px;
        border-collapse: collapse;
        width: 100%;
    }

        .hint-table .table {
            width: 100%;
            border: 1px solid #ddd;
            background-color: #f9f9f9;
            text-align: center;
            font-size: 0.9em;
        }

        .hint-table td {
            padding: 10px 15px;
            border-right: 1px solid #ddd;
            color: #333;
        }

            .hint-table td:last-child {
                border-right: none; /* Remove the last border */
            }

    /* Label styles */
    .leave-label {
        font-weight: bold;
        color: #d9534f; /* Red color for leaves */
    }
    .halfleave-label{
        font-weight: bold;
        color: orange /* Red color for leaves */
    }
    .weekend-label {
        font-weight: bold;
        color: #d9534f; /* Red color for weekends */
    }

    .holiday-label {
        font-weight: bold;
        color: #5cb85c; /* Green color for holidays */
    }

    /* Table caption */
    #summary-report-table caption {
        font-weight: bold;
        font-size: 1.25em;
        color: #333;
        margin-bottom: 8px;
        text-align: left;
    }

    /* Table styling */
    #summary-report-table {
        width: 100%;
        border-collapse: collapse;
        font-family: Arial, sans-serif;
        color: #333;
    }

        /* Header styling */
        #summary-report-table thead th {
            background-color: white; /* Green background */
            color: #777;
            padding: 10px;
            text-align: left;
            font-weight: bold;
            border-bottom: 1px solid #333;
        }

        /* Body styling */
        #summary-report-table tbody td {
            padding: 8px;
            text-align: center;
            border-bottom: 1px solid #ddd;
        }

        /* Row coloring for readability */
        #summary-report-table tbody tr:nth-child(even) {
            background-color: #f9f9f9;
        }

        #summary-report-table tbody tr:hover {
            background-color: #f1f1f1;
        }

        /* Footer styling */
        #summary-report-table tfoot td {
            font-weight: bold;
            padding: 10px;
            text-align: center;
            border-top: 2px solid #333;
            background-color: #f3f3f3;
        }
    

</style>

