@model TemplatesModel

@inject IEventPublisher eventPublisher

@{
    //page title
    ViewBag.PageTitle = T("Admin.System.Templates").Text;
    //active menu item (system name)
    NopHtml.SetActiveMenuItemSystemName("Templates");
}

@{
    var customer = await workContext.GetCurrentCustomerAsync();
    
    const string hideTopicBlockAttributeName = "Templates.HideTopicBlock";
    var hideTopicBlock = await genericAttributeService.GetAttributeAsync<bool>(customer, hideTopicBlockAttributeName);
}

<section class="content">
    <div class="container-fluid">
        <div class="form-horizontal">
            <div class="row">
                <div class="content-header clearfix">
                    <h3 class="float-left">
                        @T("Admin.System.Templates")
                    </h3>
                </div>
            </div>

            <nop-doc-reference asp-string-resource="@T("Admin.Documentation.Reference.Templates", Docs.Templates + Utm.OnAdmin)" />

            <nop-cards id="templates-cards">
    
                <nop-card asp-name="templates-topic" asp-icon="fas fa-book" asp-title="@T("Admin.System.Templates.Topic")" asp-hide-block-attribute-name="@hideTopicBlockAttributeName" asp-hide="@hideTopicBlock">@await Html.PartialAsync("_List.Topic", Model)</nop-card>

                @await Component.InvokeAsync(typeof(AdminWidgetViewComponent), new { widgetZone = AdminWidgetZones.TemplatesDetailsBlock, additionalData = Model })
            </nop-cards>
        </div>
    </div>
</section>